/*
Project Name: The Rekt League
Author: Brian McQueen & Matt Kuranda
*/

/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

.alignright {
   float: right;
   padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
   float: left;
   padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    background: black;
    font-size: 12px;
    line-height: 1.4;
    font-family: 'Lato', sans-serif;
}

.rekt-red{
    color: #bf1f2f;
}

/* img {
  height: 100% !important;
} */


/******************************************
/* ADDITIONAL STYLES
/*******************************************/


/* TOP NAV */

nav {
    margin: 0;
    padding: 0;
    background-color: black;
  }
  
  #logo {
    display: block;
    float: left;
    line-height: 60px;
    width: 136px;
    margin-right: 25px;
  }

  .rektlogo {
      width:127px;
  }

  .signinFloat {
    float: right;
  }

  .profileFloat {
    float: right;
    display: inline-grid;
    grid-template-columns: 20% 50% 30%;
    grid-template-rows: 50% 50%;
    width: 232px;
  }

  .proPic {
    border-radius: 50%;
    grid-column-start: 3;
    margin-top: 15px;
    margin-bottom: -9px;
    margin-left: 11px;
    width: 39px;
    background-color: none;
    text-decoration: none;
    padding: 0;

}

#signOutBtn {
  grid-column-start: 2;
    grid-row-start: 2;
    color: #bf1f2f;
    font-weight: 800;
    font-size: 1.1em;
    margin: 0;
    justify-self: end;
    background-color: none;
    text-decoration: none;
    padding: 0;
    display: inline;
    line-height: 12px;

}

#bellFix{
  display: contents;
  padding: 0;
  line-height: 12px;
}

#proImgFix{
  display: inline;
  padding: 0;
  line-height: 12px;
}

nav #signOutBtn:hover, #proImgFix:hover, #bellFix:hover{
  background-color: black !important;
  background: black;
}

  .accountName {
    grid-column-start: 2;
    grid-row-start: 1;
    color: white;
    font-weight: 800;
    font-size: 1.1em;
    margin-top: 17px;
    justify-self: end;
}

.notificationBell{
  color: #bf1f2f;
    grid-column-start: 1;
    grid-row-start: 1;
    font-size: 1.7em;
    margin: 19px 0px 0 21px;
}

.notificationBell:hover, .proPic:hover, #signOutBtn:hover{
  opacity: .8;
}
  
  nav:after {
    content: "";
    display: table;
    clear: both;
  }
  
  nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    z-index: 4;
  }
  
  nav ul li {
    margin: 0px;
    display: inline-block;
    float: left;
    background-color: black;
  }

  a {
      text-decoration: none;
      color: white;
  }

  a.underlined{
      text-decoration: none;
      color: white;
  }
  
  nav a {
    display: block;
    padding: 0 35px;
    color: #FFF;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
  }
  
  nav ul li ul li:hover { 
      background: #bf1f2f;
      text-decoration: none;
      color: white;
 }
  
  nav a:hover { 
      background-color: #bf1f2f;
      text-decoration: none;
      color: white;
 }
  
  nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
  }
  
  nav ul li:hover > ul { display: inherit; }
  
  nav ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
  }
  
  nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 170px;
  }
  
  li > a:after { content: ""; }

  .toggle, [id^=drop] {
     display: none;
    }

li > a:only-child:after { content: ''; }

a:visited{
    text-decoration: none;
}

#logo a{
    padding:0;
}

#logo a:hover{
    color:none;
    background: none;
}


/* BUTTONS */

.button, .emailListButton{
    overflow: hidden; 
    text-align: center;
  }
  
  .button a, .button input {
    background: #bf1f2f;
    color: white;
    display: inline-block;
    padding: 2% 5%;
    border-radius: 57px;
    font-size: 3em;
    font-weight: 800;
    margin: 4% 0;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px;
}

  .button a:hover, .button input:hover, .emailListButton a:hover{
    text-decoration: none;
    background-color: #800c17;
  }

  .emailListButton a, .button a {
    background: #bf1f2f;
    color: white;
    display: inline-block;
    padding: 1% 4%;
    border-radius: 57px;
    font-size: 2em;
    font-weight: 800;
    margin: .3% 0 .7% 0;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px;
  }

  .emailTitle {
    margin-top: 1%;
  }
/* GRAPHS */


/* SERIES GRAPHS */
#graph {
  height: 370px;
  width: 75%;
  margin: 5% auto 0 auto;
}

#graph > p {
  display: none;
}

.canvasjs-chart-credit {
  display: none;
}

@media (max-width:900px) {
  #graph {
    width: 98%;
  }
}



/* ERROR */

.errorlist {
  color: #bf1f2f;
  text-align: center;
  font-size: 3em;
  opacity: 1;
  font-weight: 800;
  list-style-type: none;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* ERROR */

.errorlist {
  color: #bf1f2f;
  text-align: center;
  font-size: 3em;
  opacity: 1;
  font-weight: 800;
  list-style-type: none;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* MEDIA QUERIES FOR RESPONSIVE NAV */

@media all and (max-width : 1100px) {

    #logo {
      display: block;
      padding: 0;
      width: 100%;
      text-align: center;
      float: none;
    }
    
    nav { margin: 0; }
    
    .toggle + a,
     .menu { display: none; }
    
    .toggle {
      display: block;
      background-color: black;
      padding: 0 20px;
      color: #FFF;
      font-size: 20px;
      line-height: 60px;
      text-decoration: none;
      border: none;
    }
    
    .toggle:hover { background-color: #bf1f2f; }
    
    [id^=drop]:checked + ul { display: block; }
    
    nav ul li {
      display: block;
      width: 100%;
    }
    
    nav ul ul .toggle,
     nav ul ul a { padding: 0 60px; }
    
    nav ul ul ul a { padding: 0 80px; }
    
    nav a:hover,
     nav ul ul ul a { background-color: #bf1f2f; }
    
    nav ul li ul li .toggle,
     nav ul ul a { background-color: black; }
    
    nav ul ul {
      float: none;
      position: static;
      color: #ffffff;
    }
    
    nav ul ul li:hover > ul,
    nav ul li:hover > ul { display: none; }
    
    nav ul ul li {
      display: block;
      width: 100%;
    }
    
    nav ul ul ul li { position: static;
    
    }

    .profileFloat {
      float: left;
      display: inline-grid;
      grid-template-columns: 20% 50% 30%;
      grid-template-rows: 50% 50%;
      width: 232px;
      margin-left: 15px;
    }
  
    .proPic {
      border-radius: 50%;
      grid-column-start: 1;
      margin-top: 15px;
      margin-left: 0px;
      width: 40px;
  }
  
  #signOutBtn {
    grid-column-start: 2;
      grid-row-start: 2;
      color: #bf1f2f;
      font-weight: 800;
      font-size: 1.1em;
      margin: 0;
      justify-self: start;
  }
  
    .accountName {
      grid-column-start: 2;
      grid-row-start: 1;
      color: white;
      font-weight: 800;
      font-size: 1.1em;
      margin-top: 17px;
      justify-self: start;
  }
  
  .notificationBell{
    color: #bf1f2f;
      grid-column-start: 3;
      grid-row-start: 1;
      margin: 22px 0px 0 0;
  }
    }
    
    @media all and (max-width : 330px) {
    
    nav ul li {
      display: block;
      width: 94%;
    }
    
    }

    /* BODY CONTENT */

.homepageContainer {
  display: flex;
  flex-flow: row wrap;
}

.video-background {
  z-index: -1;
  transition: 1s opacity;
  padding: 0;
  height: 100% !important;
  width: 100%;
}

.homeSection {
  text-align: center;
  height: 58%;
  padding: 3% 5%;
  width: 50%;
  min-height: 527px;
}

.title {
  font-size: 7em;
  font-weight: 1000;
  font-family: 'raleway', sans-serif;
  color: white;
  text-align: center;
  padding: 8%;
  position: relative;
}

.inlineLogo {
  width: 43%;
  margin: -52px 0 0 0;
  z-index: -1;
  position: relative;
}

.welcomeZIndex {
  z-index: 4;
  font-size: 1em;
}

.welcome {
  margin-top: 20px;
  width: 100%;
  -moz-box-shadow: 0px 0px 62px 8px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 0px 101px 37px rgba(0,0,0,.5);
    box-shadow: 0px 0px 101px 37px rgba(0,0,0,.5);
    z-index: 1;
}

.bucket1{
  font-size: 7em;
  font-weight: 1000;
  font-family: 'raleway', sans-serif;
  color: white;
  text-align: center;
  background: #bf1f2f;
  width: 50%;
  position: relative;
  padding: 15% 9%;
}

.bucket2{
  width: 50%;
  position: relative;
  padding: 15% 6%;
}

.bucket2 > h1{
  font-size: 1.9rem;
  font-weight: 1000;
  font-family: 'raleway', sans-serif;
  color: white;
  text-align: left;
}

.bucket2 h3 {
  font-weight: 800;
  font-family: 'raleway', sans-serif;
  text-align: center;
  color: white;
  font-size: 1.9rem;
}

.supportUs {
  width: 100%;
  background: black;
  text-align: center;
  color: white;
  padding: 2% 0px;
  -moz-box-shadow: 0px 0px 101px 37px rgba(0,0,0,.5);
  -webkit-box-shadow: 0px 0px 101px 37px rgba(0,0,0,.5);
  box-shadow: 0px 0px 101px 37px rgba(0,0,0,.5);
  z-index: 1;
}

.supportUs h3 {
  font-size: 5rem;
  font-weight: 1000;
  font-family: 'raleway', sans-serif;
}
.supportIcons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.icon {
  text-align: center;
  width: 33%;
}

.icon p {
  font-family: 'raleway', sans-serif;
  font-size: 2rem;
  font-weight: 800;
}

.icon a {
  text-decoration: none;
  transition: 1s ease;
}

.icon a:visited {
  text-decoration: none!important;
}

.icon a:hover {
  color: #bf1f2f;
  transition: 1s ease;
}

.icon img {
  width: 65%;
  opacity: 1;
  transition: 1s ease;
}

.icon img:hover {
  width: 65%;
  opacity: .4;
  transition: 1s ease;
}

#joinCopy {
  padding: 8% 6%;
}

#joinCopy strong {
  font-size: 3.5rem;
  font-weight: 900;
  color: #bf1f2f;
}

/* TEAM DESCRIPTIONS */

.teamsBanners{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  -moz-box-shadow: 0px 0px 101px 37px rgba(0,0,0,.5);
  -webkit-box-shadow: 0px 0px 101px 37px rgba(0,0,0,.5);
  box-shadow: 0px 0px 101px 37px rgba(0,0,0,.5);
  z-index: 1;
}

.teamDescriptionContainer {
  background: black;
  width: 100%;
  padding: 2%;
  display: none;
  transition: 1s;
  z-index: 2;
}

.mobileGIF {
  width: 100%;
  display: none;
}

.teamsBanners > a {
  width: 100%;
}

.display{
  display: block;
  transition: 1s;
}

#teamDescription{
  color: white;
  text-align: center;
}

#teamName {
  color: white;
  font-size: 3em;
  text-align: center;
  font-weight: 900;
}

.teamsBanners img {
  opacity: .5;
  transition: 1s;
  width: 100%;
}

.teamsBanners img:hover {
  transition: 1s;
  opacity: 1;
}

.homepageSlider {
  opacity: .5;
  width: 100%;
  -moz-box-shadow: 0px 0px 101px 37px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 0px 101px 37px rgba(0,0,0,.5);
    box-shadow: 0px 0px 101px 37px rgba(0,0,0,.5);
    z-index: 1;
}

.homepageSlider img {
  width: 100%;
}

.homepageSlider iframe {
  width: 100%;
}



    /* FOOTER */
  footer{
    left: 0;
    bottom: 0;
    width: 100%;
  }
  #disclaimer {
    font-size: 0.8em;
    padding: 4px;
  }

  #patreon {
    margin-top: 10px;
  }

  .contact-us{
    text-align: center;
    float: left;
    padding: 20px 0px;
    color: white;
    background: black;
    order: 1;
    height: 150px;
}

.social-media{
    text-align: center;
    float: left;
    padding: 20px 0px;
    color: white;
    background: black;
    order: 2;
    height: 150px;
}

div > p{
  font-size:18px;
  font-weight: 600;

}

.contact:hover{
color: #bf1f2f;
text-decoration: none;

}


  @media (min-width: 768px){

    .social-media{
        width:50%;

    }

    #disclaimer {
      font-size: 0.8em;
    }

    .contact-us{
        width:50%;
    }
}


@media (max-width: 1000px){
  .homepageContainer {
    flex-flow: column nowrap;
  }

  .bucket1{
    width: 100%;
    padding: 9% 5%;
    font-size: 5em;
  }

  .bucket2{
    width: 100%;
  }

  video {
    order: 1;
  }

  .welcome {
    order: 2;
  }

  #who {
    order: 3;
  }

  #whoCopy{
    order: 4;
  }

  .teamsBanners {
    order: 5;
  }

  .teamDescriptionContainer {
    order: 6;
}

  #why {
    order: 7;
  }

  #whyCopy {
    order: 8;
  }

  .homepageSlider{
    order: 9;
  }

  #join {
    order: 10;
  }

  #joinCopy {
    order: 11;
  }

  .supportUs {
    order: 12;
  }
}

@media (width: 1024px){
  .slick-slider {
    display: none!important;
  }
}

  @media (max-width: 768px){
    .mobileGIF {
      display: block;
    }

    .video-background {
      display: none;
    }
    
    .welcomeZIndex{
    font-size: .8em;
    font-weight: 900;
    margin-bottom: 43px;
    }

    footer {
        background: black;
        width:100%;
    }

    .contact-us{
        text-align: center;
        width:100%;
        float: left;
        padding: 20px 0px;
        color: white;
        background: black;
        order: 1;
    }


    .social-media{
        text-align: center;
        float: left;
        width:100%;
        padding: 20px 0px;
        color: white;
        background: black;
        order: 2;
    }

    div > p{
        font-size:18px;
        font-weight: 600;

  }

    #disclaimer {
      font-size: 0.4em;
  }
}

@media (max-width: 600px){
  .title {
    font-size: 4em;
  }

  .bucket1{
    font-size: 3em;
  }

  .bucket2 {
    font-size: 1.4rem;
    font-weight: 800;
    text-align: center;
  }

  #joinCopy strong {
    font-size: 3rem;
}

.bucket2 p {
  font-size: 1.4rem;
  font-weight: 800;
}

.supportUs h3 {
  font-size: 4rem;
}

.icon p {
  font-size: 1.5rem;
}

}
    
