    /* PLAYYER PAGE */

    section {
      background: url("../images/player-page/air.png") no-repeat top left; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 311px;
      width:100%;
      display: inline-grid;
      grid-template-columns: 30% 47% 23%;
      grid-template-rows: 33% 33% 33%;
    }

    

    .playerPhoto {
      grid-column-start: 3;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 1;
      width: 300px;
      justify-self: end;
      border: 9px solid rgba(0, 0, 0, 0.2);
      border-radius: 16px;
      margin: 1% 1% 0 0;
  }


  h1 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    color: white;
    text-align: right;
    font-size: 7em;
    filter: drop-shadow(2px 4px 6px black);
    font-weight: 900;
    margin: 0% 0% 0% 0;
    
}

    .laneIcons {
      grid-column-start: 2;
      grid-column-end: 2;
      grid-row-start: 3;
      align-self: end;
      grid-row-end: 3;
      text-align: right;
    }

    .laneIcons > img {
    width: 80px;
    }

    /* FILTER */
    #filter{
      height: 75px;

    }
    .grey-search-button-container{
      float: left;
    }
    .grey-search-button-container ul#rome-menu ul  { 
      padding:0px;
      background-color: white;
    }
    
    .grey-search-button-container ul#rome-menu li {
      position: relative!important;
      list-style-type: none!important;
      width: 200px;
      font-size: 1.4em;
      padding: 17px;
      cursor: pointer;
      text-transform: capitalize;
      line-height: 22px;
      text-align: center;
      color: black;
  }
    
    .grey-search-button-container ul#rome-menu li.tophelp  {
      padding: 0!important;
      line-height: 39px;
      display: inline-block;
    }
    
    .grey-search-button-container .tophelp .menu-trigger  {
        position: relative;  
        display: block;
        padding-left: 10px;
    }
    
    .grey-search-button-container .tophelp .menu-trigger::after  {
      content: " ";
      position: absolute;
      left: 175px;
      top: 17px;
      width: 0;
      height: 0;
      border-top: 7px solid white;
      border-right: 7px solid transparent;
      border-left: 7px solid transparent; 
    }
    #rome-menu {
      padding: 1% 0 1% 0;
      margin: 0 2% 0px 1%;
  }
    #subrome:active{
      color:black;
    }
    
    
    .grey-search-button-container ul#subrome li a  {
      color: black;	
    }
    
    
    .grey-search-button-container ul#rome-menu li.tophelp:hover  {  
      background:black;	
    }
    
    .grey-search-button-container ul#rome-menu li.needhelp span  {
      font-size:11px;
      
    }
    
    .grey-search-button-container ul#rome-menu li > ul  { 
      display: none;
      position: absolute;
      z-index: 2;
    }
    
    .grey-search-button-container ul#rome-menu li:hover > ul  {  
      display:block;
    }
    
    .grey-search-button-container ul#rome-menu a  {
      text-decoration: none;
      color: white;
    }
    
    .grey-search-button-container ul#subrome li:hover a  {
      color: black;
    
    }
    
    .grey-search-button-container ul#subrome li:hover {
      text-decoration: none;
      cursor: pointer;
      background-color: #bf1f2f;
      color: white;
    
    }
    

    /* SLIDER */
    .slider{
    width: 47%;
    margin: 0 auto;
    }

    .slick-dotted.slick-slider {
      margin-bottom: 7%;
  }

    .slick-dots li.slick-active button:before {
      opacity: .75;
      color: #ffffff;
  }

  .slick-dots li button:before {
    font-family: 'slick';
    font-size: 60px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #bf1f2f;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

  .slider iframe {
    margin:auto auto;
    width: 100%;
    height: 500px;
  }

  .stats {
    width: 42%;
    float: left;
  }

  .statSection > p{
    text-align: center;
    font-size: 2.9em;
    font-weight: 400;
    color: white;
    padding: 1% 0;
  }

  .statSection a:hover{
    text-decoration: none;
    color: #bf1f2f;
  }

  .statTitle {
    background: #bf1f2f;
    padding: 1% 2%;
    color: white;
    font-size: 3em;
    width: 59%;
    text-align: center;
    font-weight: 800;
    margin: auto;
}

table {
  width: 50%;
  color: white;

}

th {
    font-size: 1.2em;
    font-weight: 800;
    text-align: center;
    background: #bf1f2f;
    padding: 1% 2%;
    border: 8px solid black;
}

td > img{
  width: 68px;
}

td{
  text-align: center;
  font-size: 2em;
  font-weight: 400;
  padding: 1% 2%;
}

.whiteRow {
  background: white;
  color: black;
}

.blankCell{
  background: none;
}

@media (max-width: 1456px){
  section{
    height: 251px;
  }

  .playerPhoto {
    width: 259px;
  }

  .slider iframe {
    height: 398px;
}
}

@media (max-width: 1135px){
  h1{
    margin: 2% 10% 0% 0;
    font-size: 6em;
  }

  .laneIcons{
    margin: 0 8% 0% 0;
  }

  .stats {
    width: 100%;}

  table{
    margin: auto;
  }

}

@media (max-width: 946px){
  section {
    height: 211px;
}

.playerPhoto {
  width: 219px;
}

h1 {
  margin: 2% 10% 0% 0;
  font-size: 5em;
}

.laneIcons {
  margin: 0 9% 0% 0;
}

.laneIcons > img {
  width: 60px;
}

}

@media (max-width: 800px){
  .laneIcons {
    margin: 0 16% 0% 0;
}
h1 {
  margin: 2% 17% 0% 0;
}
.slider {
  width: 69%;
}

}

@media (max-width: 768px){
  section{
    width: 100%;
  }

  .slider{
    width: 73%;
  }

  .slider iframe {
    height: 350px;
}
h1 {
  margin: 2% 21% 0% 0;
}

.laneIcons {
  margin: 0 20% 0% 0;
}

}

/* PHONE */
@media (min-width: 375px) and (max-width: 414px){
  .laneIcons > img {
    width: 30px;
}

.playerPhoto {
    width: 147px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-self: center;
    border: 5px solid rgba(0, 0, 0, 0.2);
    border-radius: 11px;
    margin: -18% 4% 0% 0;
}

section {
  height: 162px;
  width: 100%;
  grid-template-columns: 60% 40%;
  grid-template-rows: 25% 25% 25% 25%;
}

.laneIcons {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 4;
  grid-row-end: 4;
  justify-self: start;
  margin: 0% 0% 0% 4%;
}

h1 {
  margin: 9% 0% 0 4%;
  justify-self: start;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
  font-size: 2em;
}

  th {
    font-size: 1.2em;
    padding: 1% 1%;
  }

  td > img {
    width: 36px;
}
  td{
    font-size: 1.2em;
    padding: 1% 0%;
  }
  .grey-search-button-container ul#rome-menu li {
    width: 116px;
    font-size: 1em;
    padding: 5px;
  }

  .grey-search-button-container .tophelp .menu-trigger::after {
    content: " ";
    position: absolute;
    left: 103px;
    top: 17px;
    width: 0;
    height: 0;
    border-top: 5px solid white;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

#team::after{
  left: 113px;
  z-index: 3;
}

.slider {
  width: 100%;}

  .slider iframe {
    width: 100%;
    height: 260px;
}

.slick-dotted.slick-slider {
  margin: 6% 0% 21% 0%;
}

.statTitle{
  font-size: 2.5em;
  width: 93%;
}

.statSection > p{
  font-size: 1.9em;
}

table{
  margin: auto;
}

}

    

