header + section{
    width: 80%;
    margin: auto;
}

h1,h2{
    font-weight: 800;
    font-size: 4em;
    text-align: center;
    color: white;

}

h2{
    font-size: 7em;
    margin: 6% 0 -2% 0px;
}

p{
    text-align: center;
}

.matchDate {
  color: white;
  line-height: 1em;
  margin-bottom: 25px;
}

.recordSmall{
    font-size: 2rem;
}

section + section{
    display: flex;
    position: relative;
}

section > img{
    width: 50%;
    opacity: 50%;
    align-items: flex-start;
}

.teamNameRight, .teamNameLeft{
    position: absolute;
    font-size: 3rem;
    color: white;
    filter: drop-shadow(2px 4px 6px black);
    font-weight: 800;
    z-index: 2;
    text-align: center;
    
}

.teamNameRight {
  top: 41%;
  left: 61%;
}

.teamNameLeft {
  top: 41%;
  left: 17%;
}

.teamsContainer{
  
}

.teams{
    width: 50%;
    float: left;
    padding: 1%;
}

.playerSection {
  height: 180px;
  background: rgba(56, 56, 56, .36);
  border: 2px solid black;
  padding: 5% 0%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.playerPhotoRight,.playerPhotoLeft{
    width: 13%;

}

.playerPhotoRight{
    order:3;
    margin: 0% 2% 0 0;
}

.playerPhotoLeft {
  order: 1;
  margin: 0% 0 0 2%;
  align-self: center;
}

.playerSection p{
    font-size: 3rem;
    color: white;
    filter: drop-shadow(2px 4px 6px black);
    font-weight: 600;
    order: 2;
    flex-grow: 2;
}

.playerPhotoRight + p{
    margin: 0% 9% 0 0;
    padding: 2% 0;
}

.playerPhotoLeft + p {
  margin: 0 0 0 9%;
  padding: 2% 0;
}

.laneLeft {
  order: 3;
  margin: 0% 4% 0 0;
  width: 10%;
  padding: 5% 0;
}

.laneRight{
    order: 1;
    margin: 0% 0 0 4%;
    width: 10%;
    padding: 5% 0;
}

 /* FILTER */
 #filter{
    height: 75px;

  }
  .grey-search-button-container{
    float: left;
    margin: 2% 0;
  }
  .grey-search-button-container ul#rome-menu ul  { 
    padding:0px;
    background-color: white;
  }
  
  .grey-search-button-container ul#rome-menu li {
    position: relative!important;
    list-style-type: none!important;
    width: 200px;
    font-size: 1.4em;
    padding: 17px;
    cursor: pointer;
    text-transform: capitalize;
    line-height: 22px;
    text-align: center;
    color: black;
}
  
  .grey-search-button-container ul#rome-menu li.tophelp  {
    padding: 0!important;
    line-height: 39px;
    display: inline-block;
  }
  
  .grey-search-button-container .tophelp .menu-trigger  {
      position: relative;  
      display: block;
      padding-left: 10px;
  }
  
  .grey-search-button-container .tophelp .menu-trigger::after  {
    content: " ";
    position: absolute;
    left: 175px;
    top: 17px;
    width: 0;
    height: 0;
    border-top: 7px solid white;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent; 
  }
  #rome-menu {
    padding: 1% 0 1% 0;
    margin: 0 2% 0px 1%;
}
  #subrome:active{
    color:black;
  }
  
  
  .grey-search-button-container ul#subrome li a  {
    color: black;	
  }
  
  
  .grey-search-button-container ul#rome-menu li.tophelp:hover  {  
    background:black;	
  }
  
  .grey-search-button-container ul#rome-menu li.needhelp span  {
    font-size:11px;
    
  }
  
  .grey-search-button-container ul#rome-menu li > ul  { 
    display: none;
    position: absolute;
    z-index: 2;
    box-shadow: #0000008c 3px 3px 3px;
  }
  
  .grey-search-button-container ul#rome-menu li:hover > ul  {  
    display:block;
  }
  
  .grey-search-button-container ul#rome-menu a  {
    text-decoration: none;
    color: white;
  }
  
  .grey-search-button-container ul#subrome li:hover a  {
    color: black;
  
  }
  
  .grey-search-button-container ul#subrome li:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: #bf1f2f;
    color: white;
  
  }

  /* TABLES */
  .bans img {
    width: 83px;
    margin: 5px 10%;
    opacity: 0.5;
}

.bans > td {

}

#bansTableBlue, #bansTableRed {
  float: none;
  margin: 0;
  width: 48%;
}

#bansTableRed {
  float: right;
  margin-top: -112px;
}


  .tableContainer {
    width: 98%;
    clear: both;
    margin: auto;
}
  
  table {
      width: 48%;
      color: white;
      font-size: 2em;
      float: left;
      padding: 0 4%;
      
  }

  .blueSide th {
    background: #1c39a2;
  }

  td img{
    width: 108px;
  }

  th {
    font-size: .7em;
    font-weight: 800;
    text-align: center;
    background: #bf1f2f;
    border: 0px solid black;
    padding: 0 0 5px 0;
}


td {
    text-align: center;
    padding: 1% 1%;
}

.whiteRow {
    background: white;
    color: black;
  }

 .postGameHead{
  font-size: 5em;
}

.second{
  float: right;
  margin: 0;
}

.button a {
  margin: 4% 0;
}


.bans{
  background: 330000;
}

.statTitle {
  background: #bf1f2f;
  padding: 1% 2%;
  color: white;
  font-size: 3em;
  width: 59%;
  text-align: center;
  font-weight: 800;
  margin: 4% auto 0 auto;
}

.statSection > p{
  text-align: center;
  font-size: 2.9em;
  font-weight: 600;
  color: white;
}

.statSection > p:first-of-type {
  text-align: center;
  font-size: 5.5em;
  font-weight: 800;
  color: white;
}

select {
  font-size: 2rem;
  color: #333;
  font-weight: 600;
  width: 23%;
  margin: 2% 39%;
}

.matchupMaker {
  width: 100%;
  margin: auto;
}

.buttonGenerate a {
  background: #bf1f2f;
  color: white;
  display: inline-block;
  padding: 1% 3%;
  border-radius: 57px;
  font-size: 1.2em;
  font-weight: 800;
  margin: 1% 0 6% 0;
  text-decoration: none;
}

.buttonGenerate {
  text-align: center;
}

.buttonGenerate a:hover{
  text-decoration: none;
  background-color: #800c17;
}


  /* RESPONSIVE */

@media (max-width: 1334px){

.laneLeft, .laneRight{
  width: 15%;
}

.teamNameRight, .teamNameLeft {
  font-size: 3rem;
}

.playerSection p {
  font-size: 2rem;
}

table {
  width: 100%;
  margin: 7% 0;
}

td img {
  width: 86px;
}

.first {
  margin: 0 0 7% 0;
}

.bans img {
  width: 97px;
}

#bansTableBlue, #bansTableRed {
  margin: 0 0 2%;
  width: 100%;
}

#bansTableRed {
  margin-top: 0;
}

.teamNameRight, .teamNameLeft{
  font-size: 2rem;
}

.teamNameLeft{
  left: 20%;
}

}

@media (max-width: 900px){
  .bans img {
    width: 80px;
  }

  .statSection > p{
    text-align: center;
    font-size: 2.9em;
    font-weight: 600;
    color: white;
  }
  
  .statSection > p:first-of-type {
    text-align: center;
    font-size: 3.5em;
    font-weight: 800;
    color: white;
  }
}

@media (min-width:375px) and (max-width:768px){
  header + section {
    width: 93%;
  }

  h2{
    font-size: 4em;
  }

  h1{
    font-size: 2em;
  }

  .recordSmall {
    font-size: 1rem;
  }

  .teamNameRight {
    top: 78%;
    left: 53%;
    font-size: 1rem;
  }

  .teamNameLeft {
    top: 78%;
    left: 3%;
    font-size: 1rem;
  }

  .playerSection {
    height: 72px;
  }

  .playerSection p {
    font-size: 1rem;
}

.playerPhotoRight, .playerPhotoLeft {
  width: 23%;
}

.grey-search-button-container ul#rome-menu li {
  width: 115px;
  font-size: 1em;
  padding: 4px;
  line-height: 22px;
}

.grey-search-button-container .tophelp .menu-trigger::after {
  left: 95px;
  border-top: 4px solid white;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

}


@media (max-width: 414px){
  td img {
    width: 54%;
  }

  .bans img {
    width: 54%;
  }

  #filter {
    height: 47px;
}

  table {
    font-size: 1em;
  }

  td img {
    width: 30px;
}


select {
  font-size: 1rem;
  color: #333;
  font-weight: 600;
  width: 41%;
  margin: 2% 29%;
}
}
