
    /* Sign up */
    main{
        background: white;
        width: 54%;
        margin: auto;
    }

    h1, h2{
        text-align: center;
    }
    h1{
        font-size: 3em;
        font-weight: 800;
        padding: 4% 0 0 0;
    }
    h2{
        font-size: 2em;
        padding: 1% 7%;

    }
    form {
        
    }

    label, p{
        font-size: 2em;
        font-weight: 800;
    }

    form > ul{
        list-style: none;
        width: 90%;
        margin: auto;
        text-align: center;
    }

    form li{
        padding: 2% 0;
    }

    input{
        margin: 0 0 0px 3%;
    }

    input:hover, input:focus {
        background-color: #eee;
      }

    #secondaryAccount{
        width: 400px;
    }

    [type="email"], [type="text"]{
        padding: 5px 4px;
        border: 4px solid #bf1f2f;
        width: 200px;
        height: 35px;
        border-radius: 16px;
        box-shadow: inset 1px 3px 3px #ccc;
    }

    textarea {
        padding: 10px;
        margin: 10px 0 0 -10px;
        width: 100%;
        height: 90%;
        border: 4px solid #bf1f2f;
        resize: none;
        overflow: auto;
      }

      [type="checkbox"] + label{
        font-size: 1.2em;
        margin: 0 4% 0 0;
      }

      [type="radio"] + label{
        margin-right: 3%;
        font-size: 1.2em;
      }

      input[type="radio"]::before {
        display: block;
        content: " ";
        width: 10px;
        height: 0px;
        border-radius: 6px;
        background-color: #bf1f2f;
        font-size: 1.2em;
        transform: translate(3px, 3px) scale(0);
        transform-origin: center;
        transition: all 0.3s ease-in;
      }
      
      input[type="radio"]:checked::before {
        transform: translate(3px, 3px) scale(1);
        transition: all 0.3s cubic-bezier(0.25, 0.25, 0.56, 2);
      }

      /* DROPDOWN */

      select {
        -webkit-appearance: none;
        appearance: none;
        display: block;
        font-family: inherit;
        font-size: 100%;
        margin: 2% auto;
        box-sizing: border-box;
        width: 40%;
        height: 30px;
        box-shadow: inset 1px 1px 3px #ccc;
        border-radius: 5px;
        padding: 0 0 0 10px;
    }
      
      .select-wrapper {
        position: relative;
      }
      
      .select-wrapper::after {
        content: "▼";
        font-size: 1rem;
        top: 6px;
        right: 10px;
        position: absolute;
      }

      /* FILE SUBMIT */
      input[type="file"] {
        height: 0;
        padding: 0;
        opacity: 0;
      }

      label[for="profilePicture"] {
            box-shadow: 1px 1px 3px #ccc;
            background: linear-gradient(to bottom, #6c6c6c, #000);
            border: 1px solid rgb(0, 0, 0);
            border-radius: 5px;
            text-align: center;
            line-height: 1.5;
            color: white;
            padding: 1% 3%;
            font-size: 1.5em;
            margin: 3% 0 0 0;
        }
      
      label[for="file"]:hover {
        background: linear-gradient(to bottom, #fff, #ddd);
      }
      
      label[for="file"]:active {
        box-shadow: inset 1px 1px 3px #ccc;
      }

      /* SUBMIT BUTTON */
      button {
        padding: 1% 8%;
        font: bold .6em sans-serif;
        border: 4px solid #bf1f2f;
        border-radius: 5px;
        background: #bf1f2f;
        color: white;
        cursor: pointer;
        font-size: 4em;
        font-weight: 800;
        margin: 5% 0;
    }
      
      button:hover,
      button:focus {
        outline     : none;
        background  : white;
        color       : black;
      }

      /* MEDIA QUERIES */
      /* Desktop */
      @media (min-width: 768px) and (max-width: 1150px){
        main{
            width: 86%;
        }

      }

      /* Ipad */
      @media (min-width: 500px) and (max-width: 767px){
        main{
            width: 100%;
        }
        #secondaryAccount {
            width: 75%;
        }

      }

      /* IPHONE */
      @media (max-width: 499px){
        main{
            width: 100%;
        }
        #secondaryAccount {
            width: 75%;
        }
      }

      
    



    



