.playerCard{
    margin: auto;
    width: 304px !important;
    display: block !important;
    border: #1c2242 solid 4px;
    background: linear-gradient(45deg, #1c2242, #175374);
}

.playerPhoto{
    margin: auto;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 33% 57% 10%;
    height: 160px;
    background-image: url(http://placekitten.com/296/160);
}

.playerInfo{
    display: grid;
    grid-template-columns: 80% 10% 10%;
}

.playerRole{
    width: 75px;
    grid-column-start: 1;
}

.fa-plus-square, .fa-minus-square{
    grid-column-start: 3;
    grid-row-start: 1;
    font-size: 2em;
    align-self: center;
    color: #e2e3e6  ;
}

.fa-plus-square:hover, .fa-minus-square:hover{
    color: #1c224296
}

.role1{
    
    grid-row-start: 3;
    place-self: center;
}

.role2{
    grid-row-start: 4;
    place-self: center;
}

.playerName{
    font-size: 1.4em;
    color: white;
    margin: 0;
    padding: 10px 0 0px 10px;
    text-align: left;
    display: inline-block;
    order: 1;
}

.playerName + img{
    order: 2;
    padding: 10px 10px 0 10px;
}

.slick-track{
    width: 100%;
    height: 200px;
}

.playerValue{
    order: 3;
    display: inline-block;
    padding: 6px 9px 0px 5px;
    font-size: 1.6em;
    color: white;
    margin: 0;
}

.sliderTop, .sliderJungle, .sliderMid, .sliderBot, .sliderSupport, .sliderSub{
    width: 304px;
    margin: auto;
    display: block;
}

.slick-prev, .slick-next {
    top: 50%;
}

.myTeamSection{
    text-align: center;
    margin: auto;

}

.myTeamSection > h3 {
    font-size: 2em;
    color: white;
}


#teamElo{
    color: white;
    font-size: 1.3em;
}

/* TABS */

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }