.teamManagerContainer{
    padding:0 5%;
}

.freeAgentSection{
    float: left;
    width: 60%;
}
.playerCard{
    margin: auto;
    width: 304px;
    display: block !important;
    border: #1c2242 solid 4px;
    background: linear-gradient(45deg, #1c2242, #175374);
}

.playerPhoto{
    margin: auto;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 33% 57% 10%;
    height: 160px;
    background-image: url(http://placekitten.com/296/160);
}

.playerInfo{
    display: grid;
    grid-template-columns: 80% 10% 10%;
}

.playerRole{
    width: 75px;
    grid-column-start: 1;
}

.fa-plus-square, .fa-minus-square{
    grid-column-start: 3;
    grid-row-start: 1;
    font-size: 2em;
    align-self: center;
    color: #e2e3e6;
}

.fa-plus-square:hover, .fa-minus-square:hover{
    color: #c1020269;
}

.role1{
    
    grid-row-start: 3;
    place-self: center;
}

.role2{
    grid-row-start: 4;
    place-self: center;
}

.playerName{
    font-size: 1.4em;
    color: white;
    margin: 0;
    padding: 10px 0 0px 10px;
    text-align: left;
    display: inline-block;
    order: 1;
}

.playerName + img{
    order: 2;
    padding: 10px 10px 0 10px;
}

.slick-track{
    width: 100%;
    height: 200px;
}

.playerValue{
    order: 3;
    display: inline-block;
    padding: 6px 9px 0px 5px;
    font-size: 1.6em;
    color: white;
    margin: 0;
}

.sliderTOP, .sliderJUNGLE, .sliderMID, .sliderBOT, .sliderSUPPORT, .sliderSUBSTITUTE{
    width: 304px;
    margin: auto;
    display: block;
}

.slick-prev, .slick-next {
    top: 50%;
}

.myTeamSection{
    text-align: center;
    margin: auto;
    width: 40%;
    float: left;

}

.myTeamSection > h3 {
    background: #bf1f2f;
    padding: 1% 2%;
    color: white;
    font-size: 2em;
    width: 304px;
    text-align: center;
    font-weight: 800;
    margin: 3% auto 10px auto;
}


#teamElo{
    color: white;
    font-size: 1.5em;
    font-weight: 800;
}

.playerId {
	display: none;
}

.myTeamSection .playerCard > .playerPhoto {
    height: 100px;
    background-image: url(http://placekitten.com/296/100);
    grid-template-columns: 33% 33% 34%;
}

.myTeamSection .playerCard > .playerPhoto > .fa-minus-square{
    place-self: end;
    padding: 0 4px;
}

.myTeamSection .playerCard > .playerPhoto > .playerRole {
    width: 60px;
    padding-left: 3px;
}

.myTeamSection .playerCard > .playerPhoto > .role1, .myTeamSection .playerCard > .playerPhoto > .role2 {
    place-self: start;
}

.myTeamSection .playerCard > .playerPhoto > .addToTeam > .fa-paper-plane{
    padding: 2px 5px 0 3px;
    font-size: 1.1em;
}

.addToTeam{
    grid-column-start: 3;
    grid-row-start: 3;
    font-size: 1.2em;
    align-self: center;
    color: #e2e3e6;
    font-weight: 700;
    place-self: end;
    background: #bf1f2f;
    padding: 3px 5px;
    border-radius: 50px;
    margin: 0 4px;
}

.addToTeam:hover{
    background: #a71b29;
}

.emptyPlayer {
    width: 304px;
    height: 141px;
    margin: 2% auto;
    background-image: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.11) 0px, rgba(0, 0, 0, 0.11) 12px, rgba(1, 1, 1, 0.16) 12px, rgba(1, 1, 1, 0.16) 24px, rgba(0, 0, 0, 0.14) 24px, rgba(0, 0, 0, 0.14) 36px, rgba(0, 0, 0, 0.23) 36px, rgba(0, 0, 0, 0.23) 48px, rgba(0, 0, 0, 0.12) 48px, rgba(0, 0, 0, 0.12) 60px, rgba(1, 1, 1, 0.07) 60px, rgba(1, 1, 1, 0.07) 72px, rgba(0, 0, 0, 0.21) 72px, rgba(0, 0, 0, 0.21) 84px, rgba(0, 0, 0, 0.24) 84px, rgba(0, 0, 0, 0.24) 96px, rgba(1, 1, 1, 0.23) 96px, rgba(1, 1, 1, 0.23) 108px, rgba(1, 1, 1, 0.07) 108px, rgba(1, 1, 1, 0.07) 120px, rgba(0, 0, 0, 0.01) 120px, rgba(0, 0, 0, 0.01) 132px, rgba(1, 1, 1, 0.22) 132px, rgba(1, 1, 1, 0.22) 144px, rgba(1, 1, 1, 0.24) 144px, rgba(1, 1, 1, 0.24) 156px, rgba(0, 0, 0, 0) 156px, rgba(0, 0, 0, 0) 168px, rgba(0, 0, 0, 0.12) 168px, rgba(0, 0, 0, 0.12) 180px), repeating-linear-gradient(90deg, rgba(1, 1, 1, 0.01) 0px, rgba(1, 1, 1, 0.01) 12px, rgba(1, 1, 1, 0.15) 12px, rgba(1, 1, 1, 0.15) 24px, rgba(0, 0, 0, 0.09) 24px, rgba(0, 0, 0, 0.09) 36px, rgba(0, 0, 0, 0.02) 36px, rgba(0, 0, 0, 0.02) 48px, rgba(0, 0, 0, 0.1) 48px, rgba(0, 0, 0, 0.1) 60px, rgba(1, 1, 1, 0.07) 60px, rgba(1, 1, 1, 0.07) 72px, rgba(1, 1, 1, 0.15) 72px, rgba(1, 1, 1, 0.15) 84px, rgba(0, 0, 0, 0.18) 84px, rgba(0, 0, 0, 0.18) 96px, rgba(1, 1, 1, 0.15) 96px, rgba(1, 1, 1, 0.15) 108px, rgba(1, 1, 1, 0.09) 108px, rgba(1, 1, 1, 0.09) 120px, rgba(1, 1, 1, 0.07) 120px, rgba(1, 1, 1, 0.07) 132px, rgba(1, 1, 1, 0.05) 132px, rgba(1, 1, 1, 0.05) 144px, rgba(0, 0, 0, 0.1) 144px, rgba(0, 0, 0, 0.1) 156px, rgba(1, 1, 1, 0.18) 156px, rgba(1, 1, 1, 0.18) 168px), repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.24) 0px, rgba(0, 0, 0, 0.24) 16px, rgba(1, 1, 1, 0.06) 16px, rgba(1, 1, 1, 0.06) 32px, rgba(0, 0, 0, 0.16) 32px, rgba(0, 0, 0, 0.16) 48px, rgba(1, 1, 1, 0) 48px, rgba(1, 1, 1, 0) 64px, rgba(1, 1, 1, 0.12) 64px, rgba(1, 1, 1, 0.12) 80px, rgba(1, 1, 1, 0.22) 80px, rgba(1, 1, 1, 0.22) 96px, rgba(0, 0, 0, 0.24) 96px, rgba(0, 0, 0, 0.24) 112px, rgba(0, 0, 0, 0.25) 112px, rgba(0, 0, 0, 0.25) 128px, rgba(1, 1, 1, 0.12) 128px, rgba(1, 1, 1, 0.12) 144px, rgba(0, 0, 0, 0.18) 144px, rgba(0, 0, 0, 0.18) 160px, rgba(1, 1, 1, 0.03) 160px, rgba(1, 1, 1, 0.03) 176px, rgba(1, 1, 1, 0.1) 176px, rgba(1, 1, 1, 0.1) 192px), repeating-linear-gradient(135deg, rgba(1, 1, 1, 0.18) 0px, rgba(1, 1, 1, 0.18) 3px, rgba(0, 0, 0, 0.09) 3px, rgba(0, 0, 0, 0.09) 6px, rgba(0, 0, 0, 0.08) 6px, rgba(0, 0, 0, 0.08) 9px, rgba(1, 1, 1, 0.05) 9px, rgba(1, 1, 1, 0.05) 12px, rgba(0, 0, 0, 0.01) 12px, rgba(0, 0, 0, 0.01) 15px, rgba(1, 1, 1, 0.12) 15px, rgba(1, 1, 1, 0.12) 18px, rgba(0, 0, 0, 0.05) 18px, rgba(0, 0, 0, 0.05) 21px, rgba(1, 1, 1, 0.16) 21px, rgba(1, 1, 1, 0.16) 24px, rgba(1, 1, 1, 0.07) 24px, rgba(1, 1, 1, 0.07) 27px, rgba(1, 1, 1, 0.23) 27px, rgba(1, 1, 1, 0.23) 30px, rgba(0, 0, 0, 0.2) 30px, rgba(0, 0, 0, 0.2) 33px, rgba(0, 0, 0, 0.18) 33px, rgba(0, 0, 0, 0.18) 36px, rgba(1, 1, 1, 0.12) 36px, rgba(1, 1, 1, 0.12) 39px, rgba(1, 1, 1, 0.13) 39px, rgba(1, 1, 1, 0.13) 42px, rgba(1, 1, 1, 0.2) 42px, rgba(1, 1, 1, 0.2) 45px, rgba(1, 1, 1, 0.18) 45px, rgba(1, 1, 1, 0.18) 48px, rgba(0, 0, 0, 0.2) 48px, rgba(0, 0, 0, 0.2) 51px, rgba(1, 1, 1, 0) 51px, rgba(1, 1, 1, 0) 54px, rgba(0, 0, 0, 0.03) 54px, rgba(0, 0, 0, 0.03) 57px, rgba(1, 1, 1, 0.06) 57px, rgba(1, 1, 1, 0.06) 60px, rgba(1, 1, 1, 0) 60px, rgba(1, 1, 1, 0) 63px, rgba(0, 0, 0, 0.1) 63px, rgba(0, 0, 0, 0.1) 66px, rgba(1, 1, 1, 0.19) 66px, rgba(1, 1, 1, 0.19) 69px), linear-gradient(90deg, rgba(0,0,0, 0.68), rgb(191,31,47));
}

/* TABS */

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #000;
    background-color: #000000;
    margin: auto;
    text-align: center;
    width: 394px;
    margin-bottom: 15px;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: white;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #bf1f2f;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #bf1f2f;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    /* animation: fadeEffect 1s; */
  }

  /* Go from zero to full opacity */
  /* @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  } */
