body {
    font-size: 12px;
    line-height: 1.4;
    font-family: 'Lato', sans-serif;
    background: black;
}

h1 {
    color:white;
    text-align: center;
    padding-top:2%;
    font-size: 7em;
    font-weight: 800;
    margin-bottom: 0;
}

h2 {
    color:white;
    text-align: center;
    font-size: 3em;
    font-weight: 800;
    margin-bottom: 13px;
}

p {
    color: white;
    font-size: 1.6rem;
    text-align: center;
    padding: 0 10%;
}

.Button{
    background: #bf1e2d;
    color: white;
    padding: 5px 10px;
    font-size: 1.8rem;
    font-weight: 800;
    text-decoration: none;
    border-radius: 10px;
    margin: auto;
    width: 100px;
    display: block;
}

  .Button:hover{
    background: #7d0c18;
    text-decoration: none;
    color: white;
  }

  a {
      color: #bf1e2d;
  }

  a:visited {
      color: white;
  }

