{% extends "stats/base.html" %}


{% block content %}

<img style="width: 100%; margin-top:190px; margin-bottom: 90px;" src="/static/stats/about.png">
<p> </p>

<table class="centercontent" width="70%">
	<tr class="centercontent">
		<td></td>
	</tr>
	<tr>
		<th style="padding-top:30px;" class="centertableheader">
			What is the Rekt League?
		</th>

	</tr>
	<tr class="centercontent">
		<td>
			<p>League of Legends is a game that has created and destroyed friendships, stolen countless hours from dedicated players, and entertains so many people on a daily basis.</p>
			
			<p>The best parts about league aren't actually playing the game anymore, but the community behind it banding together to create an amazing esport.</p>
			<p>We wanted to create our own little community that exists outside of professional play.</p>
			
			<p>This league is for the bronzes to diamonds that have not had the chance to taste a real structured format for this game. A lot of league players will squad up with friends but never get that true LCS experience of preparing for your opponents.</p>
			
			<p>With this in mind, we highly encourage try-harding and decimating your opponents, but more importantly have fun with this! <b>Most importantly</b> make sick plays so we can clip them.</p>
			
			<p>When you join this league you will start playing games with a lot of strangers, after you have been in it you will be playing a game you love with new friends.</p>
		</td>
	</tr>
	<tr>
		<th style="padding-top:30px;" class="centertableheader">
			Why Play in the Rekt League?
		</th>
	</tr>
	<tr class="centercontent">
		<td>
			<p>Here's some content on why people should do this vs how they're currently gaming! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</td>
	</tr>
	<tr>
		<th style="padding-top:30px;" class="centertableheader">
			How Do I Join?
		</th>
	</tr>
	<tr class="centercontent">
		<td>
			<p>Here's some content on how to join the Rekt League! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</td>
	</tr>
	<tr>
		<th style="padding-top:30px;" class="centertableheader">
			Who Runs the Show?
		</th>
	</tr>
	<tr>
		<td>
			<p>This is where we have a picture of the founding fathers in banana hammocks! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</td>
	</tr>

</table>
{% endblock %}
