{% load static %}

<title>{% block title %}{% endblock %}</title>
<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Welcome to The Rekt League">
    	<meta name="keywords" content="league of legends, community, tournament">

         <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126188250-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-126188250-1');
        </script>
<!--end analytics-->
        <!-- external CSS link -->      
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Bowlby+One|Open+Sans" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
        <script type="text/javascript" src="https://bowercdn.net/c/jquery.tablesorter-2.1.4/js/jquery.tablesorter.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'stats/css/normalize.css' %}">
	<link rel="stylesheet" href="{% static 'stats/css/global.css' %}">
	<link rel="icon" href="/media/stats/favicon.png">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/6705c26db8.js" crossorigin="anonymous"></script>

{% block head %}{% endblock %}
	</head>
	<body>
			<header>
                    <nav>
			    <div id="logo"><a href="/"><img class="rektlogo" src="/media/stats/medium.png"></a></div>
                            <label for="drop" class="toggle">Menu</label>
                            <input type="checkbox" id="drop" />
                            <ul class="menu">
			      <li> 
                                <!-- First Tier Drop Down -->
                                <label for="drop-1" class="toggle">SCHEDULE</label>
				<a href="/schedule/">SCHEDULE</span></a>
                                <input type="checkbox" id="drop-1"/>
                                <ul>
				{% for season in seasons %}
				<li><a href="/season/{{ season.id }}/schedule/">SEASON {{ season.id }}</a></li>
				{% endfor %}
                                </ul>
                              </li>
			      <li> 
                                <!-- First Tier Drop Down -->
                                <label for="drop-2" class="toggle">STANDINGS</label>
				<a href="/standings/">STANDINGS</span></a>
                                <input type="checkbox" id="drop-2"/>
                                <ul>
				{% for season in seasons %}
				<li><a href="/season/{{ season.id }}/standings/">SEASON {{ season.id }}</a></li>
				{% endfor %}
                                </ul>
                              </li>
		              <li> 
                                <!-- First Tier Drop Down -->
                                <label for="drop-3" class="toggle">STATS</label>
				<a href="/players/">STATS</span></a>
                                <input type="checkbox" id="drop-3"/>
                                <ul>
				{% for season in seasons %}
				<li><a href="/season/{{ season.id }}/players/">SEASON {{ season.id }}</a></li>
				{% endfor %}
                                </ul>
                              </li>          
                              <li><a target="_blank" href="https://docs.google.com/document/d/1CXoNUVz3K5vAqq_qPV36BGLRZEKzaxmvD79JkOJtq3g/edit#heading=h.mfjb9322hbzf">RULES</a></li>
                              <li><a href="/merch/">MERCH</a></li>

			      {% if request.user.is_authenticated %}
                              <li class="signinFloat"><a href="/logout/">SIGN OUT</a></li>
			      {% else %}
                              <li><a href="/register/">SIGN UP</a></li>
                              <li class="signinFloat"><a href="/signin/">SIGN IN</a></li>
			      {% endif %}
                            </ul>
                          </nav>
            </header>


        {% block content %}{% endblock %}
			<footer>
                    <div class="contact-us">
                    <p>CONTACT US</p>
                    <a class="contact" href="mailto:therektleague@gmail.com">therektleague@gmail.com</a>
                    <!--<p class="emailTitle">DON'T WANNA MISS A THING?</p>
		    <div class="emailListButton"><a href="">SIGN UP</a></div>-->
                    <p id="disclaimer">This competition is not affiliated with or sponsored by Riot Games, Inc. or LoLEsports.</p>
                    </div>
                    
                    <div class="social-media">
                        <p>FOLLOW THE LEAGUE</p>
                            <a class="mediaicon" href="https://twitter.com/therektleague"><img style="padding:5px;" src="/media/stats/media_icons/twitter.png"></a>
		                    <a class="mediaicon" href="https://twitch.tv/therektleague"><img style="padding:5px;" src="/media/stats/media_icons/twitch.png"></a>
		                    <a class="mediaicon" href="https://www.youtube.com/channel/UC79qzlDqxImPG49FKiChe0Q"><img style="padding:5px;" src="/media/stats/media_icons/youtube.png"></a>
                                    <a class="mediaicon" href="https://instagram.com/therektleague"><img style="padding:5px;" src="/media/stats/media_icons/instagram.png"></a>
                                    <a id="patreon" href="https://www.patreon.com/bePatron?u=31597734" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
                    </div>
                    
      </footer>
    </body>
    <div class="clearfix"></div>

</html>
