{% extends "stats/base.html" %}

{% block title %}The Rekt League | Team {{ team.name }} | {{ team_player_role.player.name }}{% endblock %}

{% block content %}
<meta name="description" content="The Rekt League stream uses these pages for the Twitch stream.">

<script type="text/javascript"><!--

var player_1 = "0";
var player_2 = "0";
var role = "0";

function ResetLinks() {
	document.getElementById('player_matchup_link').href = "/caster_tools/player_matchup/" + player_1 + "/" + player_2 + "/team/{{ series.get_team_1.id }}/{{ series.get_team_2.id }}/role/" + role;
}
function ResetPlayer1Borders() {
	{% for teamplayer in series.get_team_1.get_players %}
	document.getElementById('player1_{{ teamplayer.player.id }}').style.border = "";
	{% endfor %}
}
function ResetPlayer2Borders() {
	{% for teamplayer in series.get_team_2.get_players %}
	document.getElementById('player2_{{ teamplayer.player.id }}').style.border = "";
	{% endfor %}
}
function ResetRoleBorders() {
	{% for role in roles %}
	document.getElementById('role_{{ role.id }}').style.border = "";
	{% endfor %}
}
function ReplacePlayer1(content) {
	ResetPlayer1Borders();
	player_1 = content;
	document.getElementById("player1_" + content).style.border = "1px solid #727272";
	ResetLinks();
}
function ReplacePlayer2(content) {
	ResetPlayer2Borders();
	player_2 = content;
	document.getElementById("player2_" + content).style.border = "1px solid #727272";
	ResetLinks();
}
function ReplaceRole(content) {
	ResetRoleBorders();
	role = content;
	document.getElementById("role_" + content).style.border = "1px solid #727272";
	ResetLinks();
}
window.onload = function() {
	player_1 = "0";
	player_2 = "0";
	role = "0";
	ReplacePlayer1('{{ series.get_team_1.get_players.first.player.id }}');
	ReplacePlayer2('{{ series.get_team_2.get_players.first.player.id }}');
	ReplaceRole('1');
}
//--></script>
	

<div width="60%" style="text-align: center"><a class="imglink" href="/stats/season/{{ season.id }}/"><img style="width: 55%; margin-left: auto; margin-right: auto; margin-top:220px; margin-bottom: 100px;" src="{{ season.splash.url }}"></a></div>

<form action="/stats/season/{{ season.id }}/series/{{ series.id }}/caster_lineup/" method="post">
	<font color="black">
		{% csrf_token %}
<table class="centercontent" width="70%">
	<tr class="centercontent">
		<td><td>
	</tr>
	<tr class="centercontent">
		<th>
			<h1 style="font-size: 36">Week {{ series.week.number }}</h1>
			<h1 style="font-size: 36">{% for seriesteam in series.seriesteam_set.all %}<a href="/stats/season/{{ season.id }}/team/{{ seriesteam.team.id }}/">{{ seriesteam.team.name }} ({{ seriesteam.get_record_before }})</a>{% if forloop.counter == 1 %} vs {% endif %}{% endfor %}</h1>
			<h1 style="font-size: 36">Caster Tools</h1>
		</th>
	</tr>
	<tr>
		<td>
			<table class="centercontent" width="80%">
				<tr class="centercontent">
					<td style="padding-bottom:40px;" colspan=2>
						<table class="centercontent" width="100%">
							<tr>
								<td width="45%">
									<table class="centercontent" width="80%">
										<tr>
											<th class="centertableheader" style="border-bottom: 1px solid #4a56b2">{{ series.get_team_1.name }}</th>
										</tr>
										<tr>
											<td style="border-bottom: 1px solid #4a56b2">
												<table class="centercontent" width="100%">
													<tr class="alternating-back"></tr>
												    {% for teamplayer in series.get_team_1.get_players %}
													<tr class="alternating-back">
														<td id="player1_{{ teamplayer.player.id }}" style="font-size:20; text-align:center"><a href="javascript:ReplacePlayer1('{{ teamplayer.player.id }}')">{{ teamplayer.player.name }}</a></td>
													</tr>
												    {% endfor %}
												</table>
											</td>
										</tr>
									</table>
								</td>
								<td width="10%">
									<table class="centercontent" width="100%">
										{% for role in roles %}
										<tr>
											<td id="role_{{ role.id }}" width="40%"><a href="javascript:ReplaceRole('{{ role.id }}')"><img src="{{ role.icon.url }}" height="30" width="30" title="{{ role.name }}"></a></td>
										</tr>

										{% endfor %}

									</table>
								</td>
								<td width="45%">
									<table class="centercontent" width="80%">
										<tr>
											<th class="centertableheader" style="border-bottom: 1px solid #b24a58">{{ series.get_team_2.name }}</th>
										</tr>
										<tr>
											<td style="border-bottom: 1px solid #b24a58">
												<table class="centercontent" width="100%">
													<tr class="alternating-back"></tr>
											    {% for teamplayer in series.get_team_2.get_players %}
			
													<tr class="alternating-back">
														<td id="player2_{{ teamplayer.player.id }}" style="font-size:20; text-align:center"><a href="javascript:ReplacePlayer2('{{ teamplayer.player.id }}')">{{ teamplayer.player.name }}</a></td>
													</tr>
											    {% endfor %}
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr class="centercontent">
					<th class="pagebutton" style="font-size:20; padding:20px;" colspan=2>
						<a id="player_matchup_link" href="">Player Matchup</a>
					</th>
				</tr>
				<tr class="centercontent">
					<th class="pagebutton" style="font-size:20; padding:20px;">
						<a href="/stats/season/{{ season.id }}/series/{{ series.id }}/head_to_head/">Rosters 1</a>
					</th>
					<th class="pagebutton" style="font-size:20; padding:20px;">
						<a href="/stats/season/{{ season.id }}/series/{{ series.id }}/head_to_head_2/">Rosters 2</a>
					</th>
				</tr>

			</table>

		</td>
	</tr>

</table>

	
{% endblock %}
