{% extends "stats/base.html" %}

{% block content %}

<div width="60%" style="text-align: center"><a class="imglink" href="/stats/season/{{ season.id }}/"><img style="width: 55%; margin-left: auto; margin-right: auto; margin-top:220px; margin-bottom: 100px;" src="{{ season.splash.url }}"></a></div>

<p> </p>

<table class="centercontent" width="50%">
	<tr class="centercontent">
		<td></td>
	</tr>
	<tr class="centercontent">
		<th style="font-size: 24; padding: 50px;">
			Duplicate team members when submitting roster.
		</th>
	</tr>
	<tr>
		<td>
			<a class="imglink" href="/stats/season/{{ season.id }}/series/{{ series.id }}/">
				<img style="margin-left: auto; margin-right: auto; padding-top: 40px; display: block; width: 85%; box-shadow: 6px 6px 6px #212121;" src="{{ series.splash.url }}">
			</a>
		</td>
	</tr>

</table>

{% endblock %}
