{% load static %}


<style>

.background
{
	background-color:black;
	width:100%;
	height: 100%;
}

.rektlogo
{
	    width: 100%;
}

.playerleft

{

	    width: 100%;
	    height: auto;

}

.playernameleft

{
	    color: white;
    font-weight: 800;
    font-size: 28px;
    font-family: sans-serif;

}

.teamname

{
	    color: white;
    font-weight: 800;
    font-size: 48px;
    font-family: sans-serif;

}

.column-one
{
	width:9%; 
	height:10%; 
	padding-left:10px;
	padding-bottom:30px;
}
.column-two
{
	width: 36%;
	text-align:center;
	padding-bottom:30px;
}
.column-three
{
	width:10%; 
	padding-bottom:30px;
}
.column-four
{
	width: 36%;
	text-align:center;
	padding-bottom:30px;
}
.column-five
{
	width:9%; 
	padding-right:10px;
	padding-bottom:30px;
}


.laneicon

{

	    width: 80%;
	    height: auto;
}
</style>

<div class="background">
<!--Header-->

<table style="height: 70%;">
	<tr>
		<th class="column-one">
			{% if team1.get_players.0.player.photo %}
			<img class="playerleft" src="{{ team1.get_players.0.player.photo.url }}">
			{% else %}
			<img class="playerleft" src="/static/stats/player-photos/missing.png">
			{% endif %}
		</th>
		<th class="column-two">
			<span class="playernameleft">{{ team1.get_players.0.player.name }}</span>
		</th>
		<th class="column-three">
			<img class="laneicon" src="{{ team1.get_players.0.role.icon.url }}">
		</th>
		<th class="column-four">
			<span class="playernameleft">{{ team2.get_players.0.player.name }}</span>
		</th>
		<th class="column-five">
			{% if team2.get_players.0.player.photo %}
			<img class="playerleft" src="{{ team2.get_players.0.player.photo.url }}">
			{% else %}
			<img class="playerleft" src="/static/stats/player-photos/missing.png">
			{% endif %}
		</th>
	</tr>

	<tr>
		<th class="column-one">
			{% if team1.get_players.1.player.photo %}
			<img class="playerleft" src="{{ team1.get_players.1.player.photo.url }}">
			{% else %}
			<img class="playerleft" src="/static/stats/player-photos/missing.png">
			{% endif %}
		</th>
		<th class="column-two">
			<span class="playernameleft">{{ team1.get_players.1.player.get_name }}</span>
		</th>
		<th class="column-three">
			<img class="laneicon" src="{{ team1.get_players.1.role.icon.url }}">
		</th>
		<th class="column-four">
			<span class="playernameleft">{{ team2.get_players.1.player.get_name }}</span>
		</th>
		<th class="column-five">
			{% if team2.get_players.1.player.photo %}
			<img class="playerleft" src="{{ team2.get_players.1.player.photo.url }}">
			{% else %}
			<img class="playerleft" src="/static/stats/player-photos/missing.png">
			{% endif %}
		</th>
	</tr>

	<tr>
		<th class="column-one">
			{% if team1.get_players.2.player.photo %}
			<img class="playerleft" src="{{ team1.get_players.2.player.photo.url }}">
			{% else %}
			<img class="playerleft" src="/static/stats/player-photos/missing.png">
			{% endif %}
		</th>
		<th class="column-two">
			<span class="playernameleft">{{ team1.get_players.2.player.get_name }}</span>
		</th>
		<th class="column-three">
			<img class="laneicon" src="{{ team1.get_players.2.role.icon.url }}">
		</th>
		<th class="column-four">
			<span class="playernameleft">{{ team2.get_players.2.player.get_name }}</span>
		</th>
		<th class="column-five">
			{% if team2.get_players.2.player.photo %}
			<img class="playerleft" src="{{ team2.get_players.2.player.photo.url }}">
			{% else %}
			<img class="playerleft" src="/static/stats/player-photos/missing.png">
			{% endif %}
		</th>
	</tr>

	<tr>
		<th class="column-one">
			{% if team1.get_players.3.player.photo %}
			<img class="playerleft" src="{{ team1.get_players.3.player.photo.url }}">
			{% else %}
			<img class="playerleft" src="/static/stats/player-photos/missing.png">
			{% endif %}
		</th>
		<th class="column-two">
			<span class="playernameleft">{{ team1.get_players.3.player.get_name }}</span>
		</th>
		<th class="column-three">
			<img class="laneicon" src="{{ team1.get_players.3.role.icon.url }}">
		</th>
		<th class="column-four">
			<span class="playernameleft">{{ team2.get_players.3.player.get_name }}</span>
		</th>
		<th class="column-five">
			{% if team2.get_players.3.player.photo %}
			<img class="playerleft" src="{{ team2.get_players.3.player.photo.url }}">
			{% else %}
			<img class="playerleft" src="/static/stats/player-photos/missing.png">
			{% endif %}
		</th>
	</tr>

	<tr>
		<th class="column-one">
			{% if team1.get_players.4.player.photo %}
			<img class="playerleft" src="{{ team1.get_players.4.player.photo.url }}">
			{% else %}
			<img class="playerleft" src="/static/stats/player-photos/missing.png">
			{% endif %}
		</th>
		<th class="column-two">
			<span class="playernameleft">{{ team1.get_players.4.player.get_name }}</span>
		</th>
		<th class="column-three">
			<img class="laneicon" src="{{ team1.get_players.4.role.icon.url }}">
		</th>
		<th class="column-four">
			<span class="playernameleft">{{ team2.get_players.4.player.get_name }}</span>
		</th>
		<th class="column-five">
			{% if team2.get_players.4.player.photo %}
			<img class="playerleft" src="{{ team2.get_players.4.player.photo.url }}">
			{% else %}
			<img class="playerleft" src="/static/stats/player-photos/missing.png">
			{% endif %}
		</th>
	</tr>
</table>

</div>

