{% load static %}


<style>

.background
{
	background-color:black;
	width:100%;
	height: 100%;
}

.rektlogo
{
	    width: 100%;
}

.playerleft

{

	    width: 100%;
	    height: auto;

}

.playernameleft

{
	    color: white;
    font-weight: 800;
    font-size: 28px;
    font-family: sans-serif;

}

.teamname

{
	    color: white;
    font-weight: 800;
    font-size: 48px;
    font-family: sans-serif;

}

.column-one
{
	width:9%; 
	height:10%; 
	padding-left:10px;
	padding-top:15px;
}
.column-two
{
	padding-top:15px;
	text-align:center;
}
.column-three
{
	padding-top:15px;
	width:9%; 
}
.column-four
{
	padding-top:15px;
	text-align:center;
}
.column-five
{
	padding-top:15px;
	width:9%; 
	padding-right:10px;
}


.laneicon

{

	    width: 80%;
	    height: auto;
}
</style>

<div class="background">
<!--Header-->
<table width="100%" style="margin: auto;">
	<tr>
		<th width="41%" class="teamname" style="color: #4a56b2;">
			Team {{ series.get_series_team_1.team.name }}
		</th>
		<th width="18%">
			<img class="rektlogo" src="/static/stats/RektLogo.png">
		</th>
		<th width="41%" class="teamname" style="color: #b24a58;">
			Team {{ series.get_series_team_2.team.name }}
		</th>
	</tr>

</table>


<table style="height: 70%;">
	<tr>
		<th class="column-one">
			{% if series.get_team_1_players.0.player.photo %}
			<img class="playerleft" src="{{ series.get_team_1_players.0.player.photo.url }}">
			{% else %}
			<img class="playerleft" src="/static/stats/player-photos/missing.png">
			{% endif %}
		</th>
		<th class="column-two">
			<span class="playernameleft">{{ series.get_team_1_players.0.player.name }}</span>
		</th>
		<th class="column-three">
			<img class="laneicon" src="{{ series.get_team_1_players.0.role.icon.url }}">
		</th>
		<th class="column-four">
			<span class="playernameleft">{{ series.get_team_2_players.0.player.name }}</span>
		</th>
		<th class="column-five">
			{% if series.get_team_2_players.0.player.photo %}
			<img class="playerleft" src="{{ series.get_team_2_players.0.player.photo.url }}">
			{% else %}
			<img class="playerleft" src="/static/stats/player-photos/missing.png">
			{% endif %}
		</th>
	</tr>

	<tr>
		<th class="column-one">
			{% if series.get_team_1_players.1.player.photo %}
			<img class="playerleft" src="{{ series.get_team_1_players.1.player.photo.url }}">
			{% else %}
			<img class="playerleft" src="/static/stats/player-photos/missing.png">
			{% endif %}
		</th>
		<th class="column-two">
			<span class="playernameleft">{{ series.get_team_1_players.1.player.name }}</span>
		</th>
		<th class="column-three">
			<img class="laneicon" src="{{ series.get_team_1_players.1.role.icon.url }}">
		</th>
		<th class="column-four">
			<span class="playernameleft">{{ series.get_team_2_players.1.player.name }}</span>
		</th>
		<th class="column-five">
			{% if series.get_team_2_players.1.player.photo %}
			<img class="playerleft" src="{{ series.get_team_2_players.1.player.photo.url }}">
			{% else %}
			<img class="playerleft" src="/static/stats/player-photos/missing.png">
			{% endif %}
		</th>
	</tr>

	<tr>
		<th class="column-one">
			{% if series.get_team_1_players.2.player.photo %}
			<img class="playerleft" src="{{ series.get_team_1_players.2.player.photo.url }}">
			{% else %}
			<img class="playerleft" src="/static/stats/player-photos/missing.png">
			{% endif %}
		</th>
		<th class="column-two">
			<span class="playernameleft">{{ series.get_team_1_players.2.player.name }}</span>
		</th>
		<th class="column-three">
			<img class="laneicon" src="{{ series.get_team_1_players.2.role.icon.url }}">
		</th>
		<th class="column-four">
			<span class="playernameleft">{{ series.get_team_2_players.2.player.name }}</span>
		</th>
		<th class="column-five">
			{% if series.get_team_2_players.2.player.photo %}
			<img class="playerleft" src="{{ series.get_team_2_players.2.player.photo.url }}">
			{% else %}
			<img class="playerleft" src="/static/stats/player-photos/missing.png">
			{% endif %}
		</th>
	</tr>

	<tr>
		<th class="column-one">
			{% if series.get_team_1_players.3.player.photo %}
			<img class="playerleft" src="{{ series.get_team_1_players.3.player.photo.url }}">
			{% else %}
			<img class="playerleft" src="/static/stats/player-photos/missing.png">
			{% endif %}
		</th>
		<th class="column-two">
			<span class="playernameleft">{{ series.get_team_1_players.3.player.name }}</span>
		</th>
		<th class="column-three">
			<img class="laneicon" src="{{ series.get_team_1_players.3.role.icon.url }}">
		</th>
		<th class="column-four">
			<span class="playernameleft">{{ series.get_team_2_players.3.player.name }}</span>
		</th>
		<th class="column-five">
			{% if series.get_team_2_players.3.player.photo %}
			<img class="playerleft" src="{{ series.get_team_2_players.3.player.photo.url }}">
			{% else %}
			<img class="playerleft" src="/static/stats/player-photos/missing.png">
			{% endif %}
		</th>
	</tr>

	<tr>
		<th class="column-one">
			{% if series.get_team_1_players.4.player.photo %}
			<img class="playerleft" src="{{ series.get_team_1_players.4.player.photo.url }}">
			{% else %}
			<img class="playerleft" src="/static/stats/player-photos/missing.png">
			{% endif %}
		</th>
		<th class="column-two">
			<span class="playernameleft">{{ series.get_team_1_players.4.player.name }}</span>
		</th>
		<th class="column-three">
			<img class="laneicon" src="{{ series.get_team_1_players.4.role.icon.url }}">
		</th>
		<th class="column-four">
			<span class="playernameleft">{{ series.get_team_2_players.4.player.name }}</span>
		</th>
		<th class="column-five">
			{% if series.get_team_2_players.4.player.photo %}
			<img class="playerleft" src="{{ series.get_team_2_players.4.player.photo.url }}">
			{% else %}
			<img class="playerleft" src="/static/stats/player-photos/missing.png">
			{% endif %}
		</th>
	</tr>
</table>

</div>

