


<style>

.background
{
	background-color:black;
	width:100%;
	height: 100%;
}

.rektlogo
{
	    width: 20%;
    padding-left: 39%;
}

.playerleft

{

	margin-left: 12%;
    margin-top: 37px;

}

.playernameleft

{
	    color: white;
    font-weight: 800;
    font-size: 34px;
    font-family: sans-serif;
    margin-left: 2%;

}

.laneicon

{
margin-left: 9%;

}
</style>

<div class="background">
<!--Header-->
<div>
<img class="rektlogo" src="/static/stats/RektLogo.png">
</div>

<!--Row 1-->
<div style="width:20%;float:left;text-align: center;margin-top: -30px;">
<img class="playerleft" src="/static/stats/player-photos/enraged-ovary.png">
</div>
<div style="width:25%;float:left;text-align: center;margin-top: 50px;">
<span class="playernameleft">ENRAGED OVARY</span>
</div>
<div style="width:10%;float:left;text-align: center;">
<img class="laneicon" src="/static/stats/Top_icon.png">
</div>
<div style="width:25%;float:left;text-align: center;margin-top: 50px;">
<span class="playernameleft">ENRAGED OVARY</span>
</div>
<div style="width:20%;float:left;text-align: center;margin-top: -30px;">
<img class="playerleft" src="/static/stats/player-photos/enraged-ovary.png">
</div>

<!--END Row 1-->


<!--Row 2-->
<div style="width:20%;float:left;text-align: center;margin-top: -30px;">
<img class="playerleft" src="/static/stats/player-photos/enraged-ovary.png">
</div>
<div style="width:25%;float:left;text-align: center;margin-top: 50px;">
<span class="playernameleft">ENRAGED OVARY</span>
</div>
<div style="width:10%;float:left;text-align: center;">
<img class="laneicon" src="/static/stats/Jungle_icon.png">
</div>
<div style="width:25%;float:left;text-align: center;margin-top: 50px;">
<span class="playernameleft">ENRAGED OVARY</span>
</div>
<div style="width:20%;float:left;text-align: center;margin-top: -30px;">
<img class="playerleft" src="/static/stats/player-photos/enraged-ovary.png">
</div>

<!--END Row 2-->

<!--Row 3-->
<div style="width:20%;float:left;text-align: center;margin-top: -30px;">
<img class="playerleft" src="/static/stats/player-photos/enraged-ovary.png">
</div>
<div style="width:25%;float:left;text-align: center;margin-top: 50px;">
<span class="playernameleft">ENRAGED OVARY</span>
</div>
<div style="width:10%;float:left;text-align: center;">
<img class="laneicon" src="/static/stats/Mid_icon.png">
</div>
<div style="width:25%;float:left;text-align: center;margin-top: 50px;">
<span class="playernameleft">ENRAGED OVARY</span>
</div>
<div style="width:20%;float:left;text-align: center;margin-top: -30px;">
<img class="playerleft" src="/static/stats/player-photos/enraged-ovary.png">
</div>

<!--END Row 3-->

<!--Row 4-->
<div style="width:20%;float:left;text-align: center;margin-top: -30px;">
<img class="playerleft" src="/static/stats/player-photos/enraged-ovary.png">
</div>
<div style="width:25%;float:left;text-align: center;margin-top: 50px;">
<span class="playernameleft">ENRAGED OVARY</span>
</div>
<div style="width:10%;float:left;text-align: center;">
<img class="laneicon" src="/static/stats/Bottom_icon.png">
</div>
<div style="width:25%;float:left;text-align: center;margin-top: 50px;">
<span class="playernameleft">ENRAGED OVARY</span>
</div>
<div style="width:20%;float:left;text-align: center;margin-top: -30px;">
<img class="playerleft" src="/static/stats/player-photos/enraged-ovary.png">
</div>

<!--END Row 4-->

<!--Row 5-->
<div style="width:20%;float:left;text-align: center;margin-top: -30px;">
<img class="playerleft" src="/static/stats/player-photos/enraged-ovary.png">
</div>
<div style="width:25%;float:left;text-align: center;margin-top: 50px;">
<span class="playernameleft">ENRAGED OVARY</span>
</div>
<div style="width:10%;float:left;text-align: center;">
<img class="laneicon" src="/static/stats/Support_icon.png">
</div>
<div style="width:25%;float:left;text-align: center;margin-top: 50px;">
<span class="playernameleft">ENRAGED OVARY</span>
</div>
<div style="width:20%;float:left;text-align: center;margin-top: -30px;">
<img class="playerleft" src="/static/stats/player-photos/enraged-ovary.png">
</div>

<!--END Row 5-->
</div>
