{% extends "stats/base.html" %}
{% load staticfiles %}

{% block title %}Rekt League | Home{% endblock %}

{% block head %}{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'stats/css/slick.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'stats/css/slick-theme.css' %}"/>
<!--START OF BODY CONTENT-->
<div class="homepageContainer">
 <video loop="" muted="" autoplay="" class="video-background" id="bg_video" data-videourl="/media/stats/homepageSplash/banner1.mp4"><source src="/media/stats/homepageSplash/banner1.mp4" type="video/mp4"></video>

<div class="welcome title" id="welcome">
    <p class="welcomeZIndex">WELCOME TO</p> 
    <img class="inlineLogo" src="/media/stats/medium.png">
    <!-- <div id="twitch-embed"></div> -->
</div>

<div class="bucket1" id="who">
    WHO WE ARE
    </div>

<div class="bucket2" id="whoCopy">
    We are an amateur competitive League of Legends tournament league.  Since 2017, we have been streaming and producing biannual tournaments.  What started off with humble beginnings as a group of friends has grown into an 8-10 team bracket, and a full stream production crew for every single game.  We are dedicated to producing high quality content and a competitive, but most importantly, fun tournament atmosphere and community.
</div>

<section class="teamsBanners">
    <img src="/media/stats/homepageSplash/air-homepage.png" id="air">
    <img src="/media/stats/homepageSplash/ocean-homepage.png" id="ocean">
    <img src="/media/stats/homepageSplash/mountain-homepage.png" id="mountain">
    <img src="/media/stats/homepageSplash/infernal-homepage.png" id="infernal">
    <img src="/media/stats/homepageSplash/raptors-homepage.png" id="raptors">
    <img src="/media/stats/homepageSplash/scuttle-homepage.png" id="scuttle">
    <img src="/media/stats/homepageSplash/sentinels-homepage.png" id="sentinels">
    <img src="/media/stats/homepageSplash/brambleback-homepage.png" id="brambleback">
</section>

<!-- TEAM BANNER DESCRIPTIONS -->
<div class="teamDescriptionContainerAir">
    <p id="teamName">AIR</p>
    <p id="teamDescription">Offal marfa raclette, single-origin coffee cold-pressed blog letterpress literally XOXO truffaut. Knausgaard tattooed man bun next level slow-carb air plant cardigan. Knausgaard la croix leggings vinyl mustache.</p>
</div>

<div class="teamDescriptionContainerOcean">
    <p id="teamName">OCEAN</p>
    <p id="teamDescription">Offal marfa raclette, single-origin coffee cold-pressed blog letterpress literally XOXO truffaut. Knausgaard tattooed man bun next level slow-carb air plant cardigan. Knausgaard la croix leggings vinyl mustache.</p>
</div>

<div class="teamDescriptionContainerMountain">
    <p id="teamName">MOUNTAIN</p>
    <p id="teamDescription">Offal marfa raclette, single-origin coffee cold-pressed blog letterpress literally XOXO truffaut. Knausgaard tattooed man bun next level slow-carb air plant cardigan. Knausgaard la croix leggings vinyl mustache.</p>
</div>

<div class="teamDescriptionContainerInfernal">
    <p id="teamName">INFERNAL</p>
    <p id="teamDescription">Offal marfa raclette, single-origin coffee cold-pressed blog letterpress literally XOXO truffaut. Knausgaard tattooed man bun next level slow-carb air plant cardigan. Knausgaard la croix leggings vinyl mustache.</p>
</div>

<div class="teamDescriptionContainerRaptors">
    <p id="teamName">RAPTORS</p>
    <p id="teamDescription">Offal marfa raclette, single-origin coffee cold-pressed blog letterpress literally XOXO truffaut. Knausgaard tattooed man bun next level slow-carb air plant cardigan. Knausgaard la croix leggings vinyl mustache.</p>
</div>

<div class="teamDescriptionContainerSC">
    <p id="teamName">SCUTTLE CRAB</p>
    <p id="teamDescription">Offal marfa raclette, single-origin coffee cold-pressed blog letterpress literally XOXO truffaut. Knausgaard tattooed man bun next level slow-carb air plant cardigan. Knausgaard la croix leggings vinyl mustache.</p>
</div>

<div class="teamDescriptionContainerSentinels">
    <p id="teamName">SENTINELS</p>
    <p id="teamDescription">Offal marfa raclette, single-origin coffee cold-pressed blog letterpress literally XOXO truffaut. Knausgaard tattooed man bun next level slow-carb air plant cardigan. Knausgaard la croix leggings vinyl mustache.</p>
</div>

<div class="teamDescriptionContainerBramble">
    <p id="teamName">BRAMBELBACK</p>
    <p id="teamDescription">Offal marfa raclette, single-origin coffee cold-pressed blog letterpress literally XOXO truffaut. Knausgaard tattooed man bun next level slow-carb air plant cardigan. Knausgaard la croix leggings vinyl mustache.</p>
</div>

<!-- END TEAM BANNER DESC -->

<div class="bucket2" id="whyCopy">
    Do you love competing? Are you tired of the lonely grind on the solo-queue ladder? Do you ever wish you could play in a tournament and show off your sick skills on stream? Ever had a hype video you wanted to edit but no one to watch? Problem solved! Join us, fulfill your wildest dreams, and make this community your home!
</div>

<div class="bucket1" id="why">
WHY JOIN?
</div>

<div class="homepageSlider">
    <div><img src="/media/stats/homepageSplash/slide1.png"></div>
    <div><img src="/media/stats/homepageSplash/slide2.png"></div>
    <div><img src="/media/stats/homepageSplash/slide3.png"></div>
    <div><img src="/media/stats/homepageSplash/slide4.png"></div>
    <div><img src="/media/stats/homepageSplash/slide5.png"></div>
    <div><img src="/media/stats/homepageSplash/slide6.png"></div>
    <div><img src="/media/stats/homepageSplash/slide7.png"></div>
  </div>

<div class="bucket1" id="join">
 YOU GAME?
</div>

<div class="bucket2" id="joinCopy">
<p><strong>JOIN OUR DISCORD</strong><br> This is where we communicate almost all updates about the league, and the best way to find friends to game and/or team with.</p>

<p><strong>TUNE IN SUNDAYS</strong><br>  Watching the stream on game day is a great sneak peak into the Rekt League, come see what all the hype is about!</p>

<p><strong>JUST A FAN?</strong><br> Love the content but too busy to play? Support us by liking, following, and subscribing to us on social media or become a patron on Patreon!</p>

</div>

<div class="supportUs">
    <h3>FOLLOW US!</h3>
    <div class="supportIcons">

        <div class="icon">
            <a href="https://www.twitch.tv/therektleague" target="_blank"><img src="/media/stats/homepageSplash/twitch-logo-red-web.png">
            <p>TWITCH</p></a>
        </div>

        <div class="icon">
            <a href="https://discord.gg/vprCrG4" target="_blank"><img src="/media/stats/homepageSplash/discord-logo-red-web.png">
            <p>DISCORD</p>
        </div>
        
        <div class="icon">
            <a href="https://www.patreon.com/therektleague" target="_blank"><img src="/media/stats/homepageSplash/patreon-logo-red-web.png">
            <p>PATREON</p></a>
        </div>
    </div>
</div>

</div>

<script src="https://embed.twitch.tv/embed/v1.js"></script>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script type="text/javascript" src="{% static 'stats/js/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'stats/js/slick.js' %}"></script>
<script type="text/javascript" src="{% static 'stats/js/index.js' %}"></script>


</body>
{% endblock %}
