{% extends "stats/base.html" %}
{% load staticfiles %}

{% block title %}The Rekt League | Home{% endblock %}

{% block head %}
<meta name="description" content="The Rekt League is an amateur competitive League of Legends tournament league. We are dedicated to producing high quality content and a competitive and fun eSports experience.">


<script type="text/javascript">
$(document).ready(function(){
	{% for team in teams %}
  $( "#team{{ team.id }}" ).hover(
    function() {
      $(".teamDescriptionContainer{{ team.id }}").fadeIn( 0 );
      $(".teamDescriptionContainer{{ team.id }}").addClass( "display" );
    }, function() {
      $(".teamDescriptionContainer{{ team.id }}").fadeOut( 0 );
      $(".teamDescriptionContainer{{ team.id }}").removeClass( "display" );
    }
  );
	{% endfor %}
});
</script>
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'stats/css/slick.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'stats/css/slick-theme.css' %}"/>
<!--START OF BODY CONTENT-->
<div class="homepageContainer">
 <video loop="" muted="" autoplay="" class="video-background" id="bg_video" data-videourl="/media/stats/homepageSplash/banner1.mp4"><source src="/media/stats/homepageSplash/banner1.mp4" type="video/mp4"></video>
<img class="mobileGIF" src="/media/stats/homepageSplash/banner.gif">

<div class="welcome title" id="welcome">
    <p class="welcomeZIndex">WELCOME TO</p> 
    <img class="inlineLogo" src="/media/stats/medium.png" alt="THE REKT LEAGUE">
    <div id="twitch-embed"></div>
</div>

<div class="bucket1" id="who">
    WHO WE ARE
    </div>

<div class="bucket2" id="whoCopy">
    <h1>We are an amateur competitive League of Legends tournament league.  Since 2017, we have been streaming and producing biannual tournaments.  What started off with humble beginnings as a group of friends has grown into an 8-10 team bracket, and a full stream production crew for every single game.  We are dedicated to producing high quality content and a competitive, but most importantly, fun tournament atmosphere and community.</h1>
</div>

<section class="teamsBanners">
	{% for team in teams %}
	<a href="/stats/season/{{ team.season.id }}/team/{{ team.id }}/"><img src="{{ team.media.home_splash.url }}" id="team{{ team.id }}" alt="team{{ team.id }}"></a>
    	{% endfor %}
</section>

<!-- TEAM BANNER DESCRIPTIONS -->
{% for team in teams %}
<div class="teamDescriptionContainer teamDescriptionContainer{{ team.id }}">
	<p id="teamName">{{ team.media.name }}</p>
	<p id="teamDescription">{{ team.media.blurb }}</p>
</div>
{% endfor %}
<!-- END TEAM BANNER DESC -->

<div class="bucket2" id="whyCopy">
    <h1>Do you love competing? Are you tired of the lonely grind on the solo-queue ladder? Do you ever wish you could play in a tournament and show off your sick skills on stream? Ever had a hype video you wanted to edit but no one to watch? Problem solved! Join us, fulfill your wildest dreams, and make this community your home!</h1>
</div>

<div class="bucket1" id="why">
WHY JOIN?
</div>

<div class="homepageSlider">
    <div><img src="/media/stats/homepageSplash/slide1.png"></div>
    <div><img src="/media/stats/homepageSplash/slide2.png"></div>
    <div><img src="/media/stats/homepageSplash/slide3.png"></div>
    <div><img src="/media/stats/homepageSplash/slide4.png"></div>
    <div><img src="/media/stats/homepageSplash/slide5.png"></div>
    <div><img src="/media/stats/homepageSplash/slide6.png"></div>
    <div><img src="/media/stats/homepageSplash/slide7.png"></div>
  </div>

<div class="bucket1" id="join">
 YOU GAME?
</div>

<div class="bucket2" id="joinCopy">
<h3><strong>JOIN OUR DISCORD</strong><br> This is where we communicate almost all updates about the league, and the best way to find friends to game and/or team with.</h3>

<h3><strong>TUNE IN SUNDAYS</strong><br>  Watching the stream on game day is a great sneak peak into the Rekt League, come see what all the hype is about!</h3>

<h3><strong>JUST A FAN?</strong><br> Love the content but too busy to play? Support us by liking, following, and subscribing to us on social media or become a patron on Patreon!</h3>

</div>

<div class="supportUs">
    <h3>FOLLOW US!</h3>
    <div class="supportIcons">

        <div class="icon">
            <a href="https://www.twitch.tv/therektleague" target="_blank"><img src="/media/stats/homepageSplash/twitch-logo-red-web.png">
            <p>TWITCH</p></a>
        </div>

        <div class="icon">
            <a href="https://discord.gg/HZ8ZMVa" target="_blank"><img src="/media/stats/homepageSplash/discord-logo-red-web.png">
            <p>DISCORD</p>
        </div>
        
        <div class="icon">
            <a href="https://www.patreon.com/therektleague" target="_blank"><img src="/media/stats/homepageSplash/patreon-logo-red-web.png">
            <p>PATREON</p></a>
        </div>
    </div>
</div>

</div>

<script src="https://embed.twitch.tv/embed/v1.js"></script>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script type="text/javascript" src="{% static 'stats/js/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'stats/js/slick.js' %}"></script>
<script type="text/javascript" src="{% static 'stats/js/index.js' %}"></script>

</body>
{% endblock %}
