<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Welcome to The Rekt League">
    	<meta name="keywords" content="league of legends, community, tournament">
       <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>The Rekt League</title>
         <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126188250-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-126188250-1');
        </script>
<!--end analytics-->
        <!-- external CSS link -->
        <link rel="stylesheet" type="text/css" href="css/slick.css"/>
        <link rel="stylesheet" type="text/css" href="css/slick-theme.css"/>       
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Bowlby+One|Open+Sans" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type="text/javascript" src="https://bowercdn.net/c/jquery.tablesorter-2.1.4/js/jquery.tablesorter.js"></script>
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/global.css">
        <link rel="stylesheet" href="css/lock-in.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/6705c26db8.js" crossorigin="anonymous"></script>


	</head>
	<body>
    <header>
      <nav>
        <div id="logo"><a href="index.html"><img class="rektlogo" src="images/medium.png"></a></div>
        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop" />
        <ul class="menu">
          <li> 
            <!-- First Tier Drop Down -->
            <label for="drop-1" class="toggle">SEASONS</label>
            <a href="#">SEASONS</span></a>
            <input type="checkbox" id="drop-1"/>
            <ul>
              <li><a href="standings.html">SEASON 5</a></li>
              <li><a href="#">SEASON 4</a></li>
              <li><a href="#">SEASON 3</a></li>
              <li><a href="#">SEASON 2</a></li>
              <li><a href="#">SEASON 1</a></li>
            </ul>
          </li>
          <!-- How to do a 2 tier drop down
            <li> 
            
             First Tier Drop Down 
            <label for="drop-2" class="toggle">Portfolio +</label>
            <a href="#">Portfolio</a>
            <input type="checkbox" id="drop-2"/>
            <ul>
              <li><a href="#">Portfolio 1</a></li>
              <li><a href="#">Portfolio 2</a></li>
              <li> 
                
                 Second Tier Drop Down 
                <label for="drop-3" class="toggle">Works +</label>
                <a href="#">Works</a>
                <input type="checkbox" id="drop-3"/>
                <ul>
                  <li><a href="#">HTML/CSS</a></li>
                  <li><a href="#">jQuery</a></li>
                  <li><a href="#">Python</a></li>
                </ul>
              </li>
            </ul>
          </li> -->
          <li><a href="schedule.html">SCHEDULE</a></li>
          <li><a href="#">ABOUT</a></li>
          <li><a href="player-stats.html">PLAYERS</a></li>
          <li><a href="sign-up.html">SIGN UP</a></li>
          <li class="signinFloat"><a href="#">SIGN IN</a></li>
        </ul>
      </nav>
    </header>          
    <section>
      <h2>WEEK 1<br>LOCK IN</h2>
      <h1>AIR <span class="recordSmall">(13-5)</span> <span class="rekt-red">vs</span> BRAMBLEBACK <span class="recordSmall">(9-9)</span></h1>
      <div class="matchDate">
        <p>5:00 PM EST</p>
        <p>DECEMBER 69, 2020</p>
      </div>
    </section>
    <section>
      <img class="imageLeft" src="images/match-ups/air.png">
      <span class="teamNameLeft">AIR</span>
      <img class="imageRight" src="images/match-ups/redbuff.png">
      <span class="teamNameRight">BRAMBLEBACK</span>
    </section>
    
    <div class="teamsContainer">
      <div class="teams">
        <div class="playerSection">
          <select name="pets" id="pet-select">
            <option value="dog">Dog</option>
            <option value="cat">Cat</option>
            <option value="hamster">Hamster</option>
            <option value="parrot">Parrot</option>
            <option value="spider">Spider</option>
            <option value="goldfish">Goldfish</option>
        </select>
          <img class="laneLeft" src="images/icons for lanes/Top_icon.png">
        </div>

        <div class="playerSection">
          <select name="pets" id="pet-select">
            <option value="dog">Dog</option>
            <option value="cat">Cat</option>
            <option value="hamster">Hamster</option>
            <option value="parrot">Parrot</option>
            <option value="spider">Spider</option>
            <option value="goldfish">Goldfish</option>
        </select>
          <img class="laneLeft" src="images/icons for lanes/Jungle_icon.png">
        </div>

        <div class="playerSection">
          <select name="pets" id="pet-select">
            <option value="dog">Dog</option>
            <option value="cat">Cat</option>
            <option value="hamster">Hamster</option>
            <option value="parrot">Parrot</option>
            <option value="spider">Spider</option>
            <option value="goldfish">Goldfish</option>
        </select>
          <img class="laneLeft" src="images/icons for lanes/Mid_icon.png">
        </div>

        <div class="playerSection">
          <select name="pets" id="pet-select">
            <option value="dog">Dog</option>
            <option value="cat">Cat</option>
            <option value="hamster">Hamster</option>
            <option value="parrot">Parrot</option>
            <option value="spider">Spider</option>
            <option value="goldfish">Goldfish</option>
        </select>
          <img class="laneLeft" src="images/icons for lanes/Bottom_icon.png">
        </div>

        <div class="playerSection">
          <select name="pets" id="pet-select">
            <option value="dog">Dog</option>
            <option value="cat">Cat</option>
            <option value="hamster">Hamster</option>
            <option value="parrot">Parrot</option>
            <option value="spider">Spider</option>
            <option value="goldfish">Goldfish</option>
        </select>
          <img class="laneLeft" src="images/icons for lanes/Support_Icon.png">
        </div>
      </div>


     
    <h1>SUBSTITUTES</h1>
    <div class="teamsContainer">
      <div class="teams">
        <div class="playerSection">
          <select name="pets" id="pet-select">
            <option value="dog">Dog</option>
            <option value="cat">Cat</option>
            <option value="hamster">Hamster</option>
            <option value="parrot">Parrot</option>
            <option value="spider">Spider</option>
            <option value="goldfish">Goldfish</option>
        </select>
          <img class="laneLeft" src="images/icons for lanes/Top_icon.png">
        </div>

        <div class="playerSection">
          <select name="pets" id="pet-select">
            <option value="dog">Dog</option>
            <option value="cat">Cat</option>
            <option value="hamster">Hamster</option>
            <option value="parrot">Parrot</option>
            <option value="spider">Spider</option>
            <option value="goldfish">Goldfish</option>
        </select>
          <img class="laneLeft" src="images/icons for lanes/Jungle_icon.png">
        </div>

        <div class="playerSection">
          <select name="pets" id="pet-select">
            <option value="dog">Dog</option>
            <option value="cat">Cat</option>
            <option value="hamster">Hamster</option>
            <option value="parrot">Parrot</option>
            <option value="spider">Spider</option>
            <option value="goldfish">Goldfish</option>
        </select>
          <img class="laneLeft" src="images/icons for lanes/Mid_icon.png">
        </div>
      </div>


      
    <div class="clearfix"></div>
    <!-- Lock In -->
    <div class="button">
    <span><a href="#">LOCK IN</a></span>
    </div>
                  
                   
              
              
              


            </body>
			<footer>
          <div class="clearfix"></div>
        <div class="contact-us">
          <p>CONTACT US</p>
          <a class="contact" href="mailto:therektleague@gmail.com">therektleague@gmail.com</a>
        </div>
                    
        <div class="social-media">
          <p>FOLLOW THE LEAGUE</p>
          <a class="mediaicon" href="https://twitter.com/therektleague"><img style="padding:5px;" src="images/media_icons/twitter.png"></a>
		      <a class="mediaicon" href="https://twitch.tv/therektleague"><img style="padding:5px;" src="images/media_icons/twitch.png"></a>
		      <a class="mediaicon" href="https://www.youtube.com/channel/UC79qzlDqxImPG49FKiChe0Q"><img style="padding:5px;" src="images/media_icons/youtube.png"></a>
		      <a class="mediaicon" href="https://instagram.com/therektleague"><img style="padding:5px;" src="images/media_icons/instagram.png"></a>
        </div>
      </footer>
    
      
      <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
      

    </body>
    <div class="clearfix"></div>
</html>
