{% extends "stats/base.html" %}
{% load staticfiles %}

{% block title %}Rekt League | {{ series }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'stats/css/lock-in.css' %}">
{% endblock %}

{% block content %}
<section>
      <h2>WEEK 1<br>LOCK IN</h2>
      <h1>{{ series.get_team_1.media.name }} <span class="recordSmall">({{ series.get_series_team_1.get_record_before }})</span> <span class="rekt-red">vs</span> {{ series.get_team_2.media.name }} <span class="recordSmall">({{ series.get_series_team_2.get_record_before }})</span></h1>
      <div class="matchDate">
	<p>{{ series.date|date:"g:i a" }} EST</p>
	<p>{{ series.date|date:"F j, Y" }}</p>
      </div>
    </section>
    <section>
      <img class="imageLeft" src="{{ series.get_team_1.media.banner.url }}">
      <span class="teamNameLeft">{{ series.get_team_1.media.name }}</span>
      <img class="imageRight" src="{{ series.get_team_2.media.banner.url }}">
      <span class="teamNameRight">{{ series.get_team_2.media.name }}</span>
    </section>
    
{% if request.user.id != team.user.id %}
<div class="errorlist">You have no power here!</div>
{% else %}
    <h1>{{ team.media.name }} MAIN ROSTER</h1>
    <form action="/season/{{ season.id }}/series/{{ series.id }}/lockin/{{ team.id }}/" method="post">
    {% csrf_token %}
    <div class="lockInError">{{ form.non_field_errors }}</div>
    <div class="teamsContainer">
      <div class="teams">
        <div class="playerSection">
		{{ form.top.errors }}
		{{ form.top }}
	<img class="laneLeft" src="{{ top.icon.url }}">
        </div>

        <div class="playerSection">
		{{ form.jun.errors }}
		{{ form.jun }}
	<img class="laneLeft" src="{{ jun.icon.url }}">
        </div>

        <div class="playerSection">
		{{ form.mid.errors }}
		{{ form.mid }}
	<img class="laneLeft" src="{{ mid.icon.url }}">
        </div>

        <div class="playerSection">
		{{ form.bot.errors }}
		{{ form.bot }}
	<img class="laneLeft" src="{{ bot.icon.url }}">
        </div>

        <div class="playerSection">
		{{ form.sup.errors }}
		{{ form.sup }}
	<img class="laneLeft" src="{{ sup.icon.url }}">
        </div>
      </div>


     
    <h1>SCHEDULED SUBSTITUTE (OPTIONAL)</h1>
    <div class="teamsContainer">
      <div class="teams">
        <div class="playerSection">
		{{ form.sub.errors }}
		{{ form.sub }}
	<img class="laneLeft" src="{{ sub.icon.url }}">
        </div>
    <div class="clearfix"></div>
    <!-- Lock In -->
    
    <input class="button" type="submit" value="Lock In"/>
 
    </form>
{% endif %}
{% endblock %}
