{% extends "stats/base.html" %}
{% load staticfiles %}

{% block title %}The Rekt League | Login{% endblock %}

{% block head %}
<meta name="description" content="If you already have a Rekt Account then sign in here. ">
<link rel="stylesheet" href="{% static 'stats/css/sign-in.css' %}">
{% endblock %}

{% block content %}

<h1>SIGN IN</h1>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" id="add_form" action="{% url 'loginpage' %}">
{% csrf_token %}
<div class="lockInError">{{ form.non_field_errors }}</div>
<fieldset>        
  <section>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
  </section>
  <section>
    <label for="pass">Password:</label>
    <input type="password" id="pass" name="password" required>
  </section>
</fieldset>
<div class="button">
<input type="submit" value="login"/>
</div>
</form>

{% endblock %}
