{% extends "stats/base.html" %}
{% load staticfiles %}

{% block title %} Rekt League | Email Sign Up {% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'stats/css/merch.css' %}">
<meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->
{% endblock %}

{% block content %}
<script
    src="https://www.paypal.com/sdk/js?client-id=ASKFVqFwwdgzpil1hJOqGNG8UBhMnDH83xCSr7r-82Mx8yAIOiHo_0z_r8RGMGe6PRBVum5BHfait_KI"> // Required. Replace SB_CLIENT_ID with your sandbox client ID.
  </script>

<h1>MERCH</h1>

<div class="flexContainer">
    <section>
        <h3>REKT GLASSES</h3>
        <img src="/media/stats/merch/Shotglasses.png">
        <p>Intimidated by large drinking containers? Love The Rekt League? We've got you covered! Now you can support the league and celebrate your victories and wallow in your defeats with some Rekt Shots! They are made of glass and hold all kinds of liquids and some small solids. Perfect for making daring shot bets on next week's matches!</p>
        <div class="priceTag">$5.99</div>
        <div class="addToOrderButtons">
            <button class="down" id="downShots">-</button>
            <span id="numberOfItemsShots"></span>
            <button class="up" id="upShots">+</button><br>
            <button id="addShotsToCart">ADD TO CART</button>
        </div>
    </section>
    <section>
        <h3>REKT STICKERS</h3>
        <img src="/media/stats/merch/stickers.png">
        <p>Want a Rekt League car? STICKER IT! Want a Rekt League computer? STICKER IT! Make the world a Rekt League fan with some Rekt Stickers! These babies are die-cut, weather-proof, and they stick to things! They work just like a sticker should, and they are quite handsome!</p>
        <div class="priceTag">$1.99</div>
        <div class="addToOrderButtons">
            <button class="down" id="downStickers">-</button>
            <span id="numberOfItemsStickers"></span>
            <button class="up" id="upStickers">+</button><br>
            <button id="addStickersToCart">ADD TO CART</button>
        </div>
    </section>
</div>

<div class="flexContainerCart">
    <section>
        <div class="cart">
            <h2>CART</h2>
            <p id="hideShots">REKT SHOTS: <span id="shotsInCart"></span>x  $<span id="shotsTotal"></span><button class="remove" id="removeShots">X</button></p>
            <p id="hideStickers">REKT STICKERS: <span id="stickersInCart"></span>x  $<span id="stickersTotal"></span><button class="remove" id="removeStickers">X</button></p>
            <p id="hideShipping">SHIPPING: <span id="shippingInCart"></span>x  $<span id="shippingTotal">1.99</span></p>
            <p id="hideTotal"><strong>TOTAL</strong>: $<span id="total">0.00</span></p>
        </div>
    </section>
    <section>
        <h2>CHECKOUT</h2>
        <div id="paypal-button-container"></div>
    </section>
</div>

<script type="text/javascript" src="{% static 'stats/js/merch.js' %}"></script>

{% endblock %}
