{% extends "stats/base.html" %}

{% block title %}Rekt League | News{% endblock %}

{% block content %}
<style>

p

{

	font-size: 16px;
    font-weight: 200;
}

.post-container {
	padding-left: 50px;
	padding-top: 50px;
	height: 150px;
}

.multiple-items {
	height: 200px;
	width: 700px;
	text-align: center;
	margin: 0 auto;
	margin-top: 50px;
}

.post-header {
	font-size: 32;
	font-weight: 600;
	color: white;
	padding-left: 40px;
	position: absolute;
	float: left;
	font-family: 'Noto Sans', sans-serif;
}

.team-description {
	width: 70%;
	font-size: 18;
	color: white;
	padding-left: 60px;
	padding-top: 60px;
	padding-bottom: 30px;
	float: inherit;
	margin: 0 auto;
	margin-top: -15px;
	font-family: 'Open Sans', sans-serif;
}

.post-synopsis {
	width: 100%;
	font-size: 18;
	color: white;
	padding-left: 60px;
	padding-top: 60px;
	float: left;
	font-family: 'Open Sans', sans-serif;
}

.post-thumbnail {
	height: 100px;
	width: 100px;
	float: right;
	margin: 20px;
}

.player-photo {
	float: left;
	margin: 0 auto;
	margin-left: 125px;
}

.team-icon-container {
	width: 100%; 
	margin: 0 auto;
}

.team-icon {
	height: 100px;
	width: 100px;
	margin: 20px;
}

.featured-player-team-icon {
	position: relative;
	height: 150px;
	width: 150px;
	float: left;
	margin-left: 425px;
	margin-top: 25px;
}

.champ-icon {
	position: relative;
	height: 80px;
	width: 80px;
	float: left;
	margin-left: 25px;
}

.featured-player-role-icon {
	position: relative;
	height: 80px;
	width: 80px;
	float: left;
	margin-left: 25px;
	margin-top: 10px;
}

.dim-header
{
	padding-bottom:20px;
	padding-top:15px;
	font-weight: 600;
	font-size:24;
	color:#727272;
	font-family: 'Noto Sans', sans-serif;
}

th.player-stat-table-header {
	padding-left: 40px;
	font-size: 32;
	font-weight: 600;
	color: white;
	font-family: 'Noto Sans', sans-serif;
}

td.stat-header {
	font-weight: 600;
	float: left;
	font-size:24;
	padding-left: 80px;
        color:#727272;
	font-family: 'Noto Sans', sans-serif;
}

td.stat-header-mini {
	font-weight: 600;
	float: left;
	font-size:16;
	padding-left: 20px;
        color:#727272;
	font-family: 'Noto Sans', sans-serif;
}

td.stat {
	font-size: 20;
	font-weight: 600;
	text-align: center;
	color: white;
	font-family: 'Open Sans', sans-serif;
}

td.stat-mini {
	font-size: 14;
	font-weight: 600;
	text-align: center;
	color: white;
	font-family: 'Open Sans', sans-serif;
}

.bottom-text{
	font-weight: 800;
	font-size: 18;
	color: white;
	padding-top: 20px;
	text-align: center;
	font-family: 'Noto Sans', sans-serif;
}

.carousel-container {
	width: 80%;
	padding-top: 120px;
	padding-bottom: 200px;
  	height: 1000px;
	margin: auto;
	margin-bottom: 100px;
}

.container {
  	margin: 0 auto;
  	padding: 0;
  	width: 70%;
	margin-bottom: 50px;
}

.left-container {
  	margin: 0 auto;
	float: left;
  	width: 60%;
	padding-left: 20px;
	margin-left: -60px;
}

.right-container {
  	margin: 0 auto;
	float: right;
  	width: 40%;
	padding-right: 20px;
}

.home-header {
	text-align: center;
	padding-bottom: 45px;
	font-weight: 800;
	font-size: 36;
	font-family: 'Noto Sans', sans-serif;
	color: white;
}

.carousel-item-header {
	font-size: 36;
	font-weight: 800;
	color: white;
	padding-left: 40px;
	padding-top: 10px;
	position: absolute;
	float: left;
	font-family: 'Noto Sans', sans-serif;
}


.carousel-item-synopsis{
	font-size: 24;
	color: white;
	padding-left: 60px;
	padding-top: 70px;
	float: left;
	position: absolute;
	font-family: 'Open Sans', sans-serif;
}

.slick-dots {
	bottom: 25px;
}

.slick-dots li button:before {
	color: white;
	font-size: 8px;
	line-height: 0px;
}

.slick-dots li.slick-active button:before {
	color: red;
	font-size: 15px;
	line-height: 0px;
}

.splash-img {
	width: 100%;
  	padding-left: 20;
  	padding-right: 20;
}

.slider-img {
 	float: left;
	padding: 0;
	width: 100%;
  padding-left: 15;
  padding-right: 15;
}

.slick-slide {
  text-align: center;
  color: #419be0;
}

.slider-for{
  width: 100%;
  height: 800px;
  padding: 40;
  margin: 0;
  background-color: #303030;
}
.slider-nav{
  width: 100%;
  height: 220px;
  margin: 0;
}
.vid-frame {
	margin: 0 auto;
	display: block;
	margin-top: 30px;
	
}

</style>

<script type="text/javascript">

function ClearButtons() {
	{% for team in teams %}
	document.getElementById("team-{{ team.id }}-button").style.opacity = "0.5";
	document.getElementById("team-{{ team.id }}-button").style.padding = "15px";
	{% endfor %}
}

{% for team in teams %}
function PressTeam{{ team.id }}Button() {
	ClearButtons();
	document.getElementById("team-{{ team.id }}-button").style.opacity = "1";
	document.getElementById("team-{{ team.id }}-button").style.padding = "0px";
	ReplaceTeamContent("team-content", "{{ team.name }}");
}
{% endfor %}

function ReplaceTeamContent(id, content) {
	var container = document.getElementById(id);
	var contentMap = new Map();
	{% for team in teams %}
	contentMap.set("{{ team.name }}",
		'<img style="width: 80%; margin-top: 30px;" src="{{ team.splash.url }}">' +
		'<div class="team-description"> ' +
			'Lorem ipsum dolor sit amet, sed an recteque evertitur comprehensam. Nobis diceret perpetua ea usu, ius eu tritani labores mentitum. Has persequeris neglegentur an. At vim alterum eligendi. No quo wisi appareat partiendo, est audiam epicuri facilisis id, ne odio possit fastidii eum.' +
		'</div>' +
		'<div class="multiple-items">' +
		{% for article in team.articlepage_set.all %}
			{% if article.url_name %}
			'<a href="/{{ article.url_name }}">' +
			{% endif %}
			'<div class="carousel-img-container">' +
				'<img class="splash-img" style="width: 200px; height: 200px; margin: 0 auto;" src="{{ article.splash.url }}" title="{{ article.title }}">' +
			'</div>' +
			{% if article.url_name %}
			'</a>' +
			{% endif %}
		{% endfor %}
		'</div>' +
		'<div class="bottom-text" style="margin-top: 40px;">' +
			'<a href="/stats/season/{{ team.season.id }}/team/{{ team.id }}">Learn More About Team {{ team.name }}</a>' +
		'</div>');
	{% endfor %}
	container.innerHTML = contentMap.get(content);
	$('.multiple-items').slick({
		infinite: true,
		slidesToShow: 3,
		slidesToScroll: 1
	});
}

window.onload = function () {

	CheckOnlineStatus();
	PressTeam{{ teams.first.id }}Button();

var chart2 = new CanvasJS.Chart("goldDiffVsLaneOpponent", {
	animationEnabled: true,
	backgroundColor: "#212121",
	title: {
		fontColor: "#727272",
		fontFamily: 'Noto Sans',
		fontSize: 24,
	},
	axisX: {
		minimum: 0,
		maximum: {{ featured_player.team.get_max_timeline_minute }},
		labelFontColor: "#727272",
	},
	axisY: {
		labelFontColor: "#727272",
	},
	data: [{
		color: "#bf1f2f",
		labelFontColor: "#727272",
		fillOpacity: "0.1",
		name: "views",
		type: "area",
		dataPoints: [
			{% for timeline in featured_player.get_gold_timeline %}
			{ x: {{ timeline.minute }}, y: {{ timeline.goldDiff|floatformat:"0" }}, label: "{{ timeline.minute }}:00" },
                        {% endfor %}
		]
	}
	]
});
chart2.render();
}

function CheckOnlineStatus()
{
  $.ajax({
	  type: 'GET',
    url: "https://api.twitch.tv/kraken/streams/therektleague",
    dataType: 'json',
    headers: {
      'Client-ID': 'lj3s7o2tmiisf4961ceiu18yhmapju'
    },
    success: function(channel)
    {
      if (channel["stream"] == null)
      {
        console.log(" is not online");
      } else {
	      document.getElementById("top-carousel").innerHTML = "<div id='twitch-embed'></div>";
	      var embed = new Twitch.Embed("twitch-embed", {
		width: 1200,
		height: 600,
		channel: "therektleague"
	});

      }
    }
  });
}

$(document).ready(function() {
$('.multiple-items').slick({
	infinite: true,
	slidesToShow: 3,
	slidesToScroll: 1
});

$('.single-item').slick({
	dots: true,
	arrows: true
});
});
//--></script>

<div class='container'>
	<div id='top-carousel' class='carousel-container'>
	  <div class='single-item'>
		{% for item in carousel_objects %}
		{% if item.url_name %}
		<a href="{{ item.url_name }}">
		{% endif %}
		<div class="carousel-img-container">
			<img class="splash-img" src="{{ item.splash.url }}">
		</div>
		{% if item.url_name %}
		</a>
		{% endif %}
	  	{% endfor %}
	  </div>
	</div>
</div>

<div style="margin: 0 auto; margin-top: -300px; margin-bottom: 50px; width: 90%;"></div>

<div class='container' style="width: 90%;">
	<div class='left-container'>
		<div class='home-header'>
			What is the Rekt League?
		</div>
		<iframe class='vid-frame' width="800" height="500" src="https://www.youtube.com/embed/T5WDb4oSb4U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	<div class='right-container'>
		<div class='home-header'>
			Recent Posts
		</div>
		<div class="linktable" style="padding-top: 15px;">
		{% for article in articles %}
		{% if forloop.counter|divisibleby:2 %}
		<a style="display: table-row" href="/post/{{ article.url_name }}">
		{% else %}
		<a style="display: table-row; background-color: #303030;" href="/post/{{ article.url_name }}">
		{% endif %}
			<div class="linktablecell" style="width: 80%;">
				<div class='post-header'>
					{{ article.title }}
				</div>
				<div class='post-synopsis'>
					<div style="float: left;">{{ article.clean_content|truncatechars:50 }}</div><div style="color: #bf1f2f; float: right; margin-right: 25px; font-weight:600;">Read more</div>
				</div>
			</div>
			<div class="linktablecell" style="width: 20%;">
				<img class='post-thumbnail' src="{{ article.splash.url }}">
			</div>

		</a>
		{% endfor %}
		</div>
		<div class="bottom-text">
			<a href="/all_posts/">All Posts</a>
		</div>
	</div>
</div>

<div class='container'>
	<div class='home-header'>
		Featured Player
	</div>
	<img class='player-photo' src="{{ featured_player.player.photo.url }}">
	<div class='container' style="width: 90%;">
		<table class='player-stat-table'>
			<tr>
				<th class='player-stat-table-header'>
					{{ featured_player.player.name }}
				</th>
			</tr>
			<tr>
				<td class='stat-header'>
					Score
				</td>
				<td class='stat'>
					{{ featured_player.avg_kills|floatformat:"1" }}/{{ featured_player.avg_deaths|floatformat:"1" }}/{{ featured_player.avg_assists|floatformat:"1" }}
				</td>
			</tr>
			<tr>
				<td class='stat-header'>
					CS Diff at 15
				</td>
				<td class='stat'>
					{% if featured_player.get_cs_diff_at_15 > 0 %}
					+{% endif %}{{ featured_player.get_cs_diff_at_15|floatformat:"1" }}
				</td>
			</tr>
			<tr>
				<td class='stat-header'>
					Vision Score
				</td>
				<td class='stat'>
					{{ featured_player.get_avg_vision|floatformat:"1" }}
				</td>
			</tr>
		</table>


		<div class='container' style='margin-top: -185px; margin-bottom: -20px;'>
			<img class='featured-player-team-icon' src="{{ featured_player.team.icon.url }}" title="{{ featured_player.team.name }}">
			<div class='container' style="margin-top: -15px; margin-left: 650px;">
				<div class='dim-header' style='margin-left: 75px;'>
					Roles
				</div>
				{% for featured_player_role in featured_player_roles %}
				{% if featured_player_role.get_player_matches|length > 0 and not featured_player_role.role.isFill %}
				<img class='featured-player-role-icon' src="{{ featured_player_role.role.icon.url }}">
				{% endif %}
				{% endfor %}
			<div class='container' style="margin-top: 100px; margin-left: 0px; position: absolute;">
				<div class='dim-header' style='margin-left: 20px; margin-top: 50px;'>
					Top Champions
				</div>
				{% for champion in featured_player.get_played_champion_list %}
				{% if forloop.counter < 4 %}
				<div class="container" style="position: relative; margin-bottom: 20px; margin-left: 50px;">
				<img class="champ-icon" src="{{ MEDIA_URL }}{{ champion.playermatch__champion__icon }}" title="{{ champion.playermatch__champion__name }}">
				<table>
					<tr>
						<td class='stat-header-mini'>
							Games
						</td>
						<td class='stat-mini'>
							{{ champion.champion_count }}
						</td>
					</tr>

					<tr>
						<td class='stat-header-mini'>
						Score	
						</td>
						<td class='stat-mini'>
							{{ champion.avg_kills|floatformat:"1" }}/{{ champion.avg_deaths|floatformat:"1" }}/{{ champion.avg_assists|floatformat:"1" }}
						</td>
					</tr>
				</table>
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
		<div class='container' style="width: 800px; margin-top: -30px; margin-left: -170px;">
			<div class='dim-header' style='text-align: center; width: 100%;'>
				Gold Diff vs Lane Opponent
			</div>
			<div id="goldDiffVsLaneOpponent" style="height: 300px; width: 100%;"></div>
		</div>
	</div>
	<div class='bottom-text'>
		<a href='/stats/season/{{ featured_player.team.season.id }}/team/{{ featured_player.team.id }}/player/{{ featured_player.player.id }}/'>Learn More About {{ featured_player.player.name }}</a>
	</div>
</div>

<div class='container' style="width: 90%; margin-top:100px;">
	<div class='home-header'>
		Meet the Teams
	</div>
	<table style="text-align: center; width: 100%; margin-top: -30px;">
		<tr>
		{% for team in teams %}
		<td width="{% widthratio 1 teams.count 100 %}%">
			<a href="javascript:PressTeam{{ team.id }}Button()"><img id="team-{{ team.id }}-button" class="team-icon" style="opacity: 0.5; padding: 15px;" src="{{ team.icon.url }}"></a>
		</td>
		{% endfor %}
		</tr>
	</table>
	<div id='team-content' style='text-align: center;'>
	</div>
</div>

<script src="https://embed.twitch.tv/embed/v1.js"></script>
<script type="text/javascript">
</script>


<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

{% endblock %}


