{% extends "stats/base.html" %}

{% block title %}Rekt League | News{% endblock %}

{% block content %}
<style>

p

{

	font-size: 16px;
    font-weight: 200;
}

.carousel-container {
	padding-top: 120px;
	padding-bottom: 200px;
  	height: 1000px;
	margin-bottom: 100px;
}

.container {
  	margin: 0 auto;
  	padding: 0;
  	width: 60%;
	margin-bottom: 50px;
}

.carousel-item-header {
	font-size: 36;
	font-weight: 800;
	color: white;
	padding-left: 40px;
	padding-top: 10px;
	position: absolute;
	float: left;
	font-family: 'Noto Sans', sans-serif;
}


.carousel-item-synopsis{
	font-size: 24;
	color: white;
	padding-left: 60px;
	padding-top: 70px;
	float: left;
	position: absolute;
	font-family: 'Open Sans', sans-serif;
}

.splash-img {
	width: 100%;
  	padding-left: 5;
  	padding-right: 5;
}

.slider-img {
 	float: left;
	padding: 0;
	width: 100%;
  padding-left: 15;
  padding-right: 15;
}

.slick-slide {
  text-align: center;
  color: #419be0;
}

.slider-for{
  width: 100%;
  height: 800px;
  padding: 40;
  margin: 0;
  background-color: #303030;
}
.slider-nav{
  width: 100%;
  height: 220px;
  margin: 0;
}

</style>

<script type="text/javascript">
$(document).ready(function() {
$('.slider-for').slick({
  slidesToShow: 1,
  slidesToScroll: 1,
  arrows: false,
  fade: true,
  asNavFor: '.slider-nav'
});
$('.slider-nav').slick({
  slidesToShow: 3,
  slidesToScroll: 1,
  asNavFor: '.slider-for',
  dots: false,
  centerMode: true,
  focusOnSelect: true
});
});
//--></script>

{% for content in content_list %}
{% if content.0 == "Carousel" %}
<div class='container'>
<div class='carousel-container'>
  <div class='slider-for'>
	{% for item in content.1 %}
	<a href="/stats/{{ item.1.announcement.url_name }}">
	<div class="carousel-img-container">
		<img class="splash-img" src="{{ item.1.announcement.splash.url }}">
		<div class="carousel-item-header">
			{{ item.1.announcement }}
		</div>
		<div class="carousel-item-synopsis">
			{{ item.1.announcement.synopsis }}
		</div>
	</div>
	</a>
  	{% endfor %}
  </div>
  <div class='slider-nav'>
	{% for item in content.1 %}
	<div><h3><img class="slider-img" src="{{ item.1.announcement.splash.url }}"></h3></div>
	{% endfor %}
  </div>
</div>
</div>
{% elif content.0 == "Text" %}
<div class='container'>
	{% autoescape off %}{{ content.1 }}{% endautoescape %}
</div>
{% elif content.0 == "Image" %}
<div class='container'>
	<img style="{{ content.1.style }}" src="{{ content.1.image.url }}">
</div>
{% elif content.0 == "Schedule" %}
<div class='container'>
	<div class='schedule-date'>
	</div>
</div>
{% elif content.0 == "Standings" %}
{% endif %}
{% endfor %}
{% endblock %}


