{% load static %}

<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Bowlby+One|Open+Sans" rel="stylesheet">
<link rel="stylesheet" href="{% static 'stats/css/player-matchup.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</head>

<script>
window.onload = function() {

var chart = new CanvasJS.Chart("goldDiffVsLaneOpponent", {
	backgroundColor: "black",
	title: {
		fontColor: "#727272",
		fontFamily: 'Noto Sans',
		fontSize: 24,
	},
	axisX: {
		minimum: 0,
		maximum: {{ max_duration }}, 
		labelFontColor: "#727272",
	},
	axisY: {
		labelFontColor: "#727272",
	},
	data: [{
		labelFontColor: "#727272",
		fillOpacity: "0.2",
		name: "views",
		type: "area",
		dataPoints: [
			{% for timeline in blue_player.get_gold_timeline %}
			{ x: {{ timeline.minute }}, y: {{ timeline.goldDiff|floatformat:"0" }}, label: "{{ timeline.minute }}:00", markerType: "none" },
                        {% endfor %}
		]
	},{
		labelFontColor: "#727272",
		fillOpacity: "0.2",
		name: "views",
		type: "area",
		dataPoints: [
			{% for timeline in red_player.get_gold_timeline %}
			{ x: {{ timeline.minute }}, y: {{ timeline.goldDiff|floatformat:"0" }}, label: "{{ timeline.minute }}:00", markerType: "none" },
                        {% endfor %}
		]
	},
	]
});
chart.render();

}
</script>

<div class="background">
<!--Header-->
<div>
	<div>
		<img class="teamSplashImage" src="{{ blue_player.team.media.banner.url }}">
		<img class="playerPhoto Right" src="{{ blue_player.player.photo.url }}">
	</div>
	<img class="laneicon" src="/media/stats/icons for lanes/Jungle_icon.png">
	<div>
		<img class="teamSplashImage" src="{{ red_player.team.media.banner.url }}">
		<img class="playerPhoto Left" src="{{ red_player.player.photo.url }}">
	</div>
</div>
<div class="names">
	<div class="playerName">
		<h1 class="blue">{{ blue_player.player.get_name }}</h1>
	</div>
	<div class="playerName">
		<h1 class="red">{{ red_player.player.get_name }}</h1>
	</div>
</div>
<div class="statsContainer">
	<table class="centercontent">
		<tr>
			<td class="stat">
				{{ blue_player.get_kda | floatformat:"1" }}
			</td>
			<td class="statTitle">
				TOTAL KDA
			</td>
			<td class="stat">
				{{ red_player.get_kda | floatformat:"1"  }}
			</td>
		</tr>
		<tr>
			<td class="stat">
				{{ blue_player.get_kill_participation | floatformat:"1" }}%
			</td>
			<td class="statTitle">
				KILL PARTICIPATION	
			</td>
			<td class="stat">
				{{ red_player.get_kill_participation | floatformat:"1" }}%
			</td>
		</tr>

		<tr>
			<td class="stat">
				{{ blue_player.get_percent_team_damage | floatformat:"1" }}%
			</td>
			<td class="statTitle">
				PERCENT OF TEAM DAMAGE	
			</td>
			<td class="stat">
				{{ red_player.get_percent_team_damage | floatformat:"1" }}%
			</td>
		</tr>
		<tr>
			<td class="stat">
				{% if blue_player.get_cs_diff_at_15 > 0 %}
				+{% endif %}{{ blue_player.get_cs_diff_at_15 | floatformat:"1" }}
			</td>
			<td class="statTitle">
				CS DIFF @ 15
			</td>
			<td class="stat">
				{% if red_player.get_cs_diff_at_15 > 0 %}
				+{% endif %}{{ red_player.get_cs_diff_at_15 | floatformat:"1"  }}
			</td>
		</tr>
		<tr>
			<td class="stat">
				{{ blue_player.get_avg_vision | floatformat:"1" }}
			</td>
			<td class="statTitle">
				VISION SCORE
			</td>
			<td class="stat">
				{{ red_player.get_avg_vision | floatformat:"1"  }}
			</td>
		</tr>

	</table>
</div>
	<table class="centercontent" style="width: 100%">
		<tr>
			<td width="5%">
			</td>
			<td width="35%">
				<table class="centercontent" style="width: auto;">
					<tr>
						{% for champion in blue_player.get_played_champion_list %}
						{% if forloop.counter < 4 %}
						<td>
							<img class="champ-icon" src="{{ MEDIA_URL }}{{ champion.playermatch__champion__icon }}">
						</td>
						{% endif %}
						{% endfor %}
					</tr>
					<tr>
						{% for champion in blue_player.get_played_champion_list %}
						{% if forloop.counter < 4 %}
						<td style="font-size: 18px;">
							{{ champion.wins | floatformat:"0" }}-{{ champion.losses | floatformat:"0" }}
						</td>
						{% endif %}
						{% endfor %}
					</tr>

				</table>
			</td>
			<td width="12%" class="statTitle">
				TOP CHAMPIONS
			</td>
			<td width="35%">
				<table class="centercontent" style="width: auto;">
					<tr>
						{% for champion in red_player.get_played_champion_list %}
						{% if forloop.counter < 4 %}
						<td>
							<img class="champ-icon" src="{{ MEDIA_URL }}{{ champion.playermatch__champion__icon }}">
						</td>
						{% endif %}
						{% endfor %}
					</tr>
					<tr>
						{% for champion in red_player.get_played_champion_list %}
						{% if forloop.counter < 4 %}
						<td style="font-size: 18px;">
							{{ champion.wins | floatformat:"0" }}-{{ champion.losses | floatformat:"0" }}
						</td>
						{% endif %}
						{% endfor %}
					</tr>

				</table>
			</td>
			<td width="5%">
			</td>
	</table>

	<div class="centercontentGraph" style="font-size: 18px; padding-top:10px;">GOLD DIFF VS LANE OPPONENT</div>
	<div id="goldDiffVsLaneOpponent" style="height: 26%; width: 60%; margin: auto; margin-bottom:-180px;padding-top:0px;padding-bottom:20px;"></div>
</div>

<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

