{% extends "stats/base.html" %}
{% load staticfiles %}

{% block title %} Rekt League | Profile {% endblock %}

{% block head %}
<script type="text/javascript"><!--
function unHideUsernameForm()
{
	document.getElementById("usernameForm").style.display = "block";
	document.getElementById("unHideUsernameButton").style.display = "none";
}
function unHidePasswordForm()
{
	document.getElementById("passwordForm").style.display = "block";
	document.getElementById("unHidePasswordButton").style.display = "none";
}
function unHideEmailForm()
{
	document.getElementById("emailForm").style.display = "block";
	document.getElementById("unHideEmailButton").style.display = "none";
}

{% for account in accounts %}
function unHideAccountForm{{ account.id }}()
{
	document.getElementById("accountForm{{ account.id }}").style.display = "block";
	document.getElementById("editButton{{ account.id }}").style.display = "none";
}
{% endfor %}
function unHideAddAccount()
{
	document.getElementById("addAccountForm").style.display = "block";
	document.getElementById("unhideAddAccountButton").style.display = "none";
}
</script>

{% endblock %}

{% block content %}

{% if user.is_authenticated %}

{{ usernameForm.username.errors }}
{{ passwordForm.password1.errors }}
{{ emailForm.email.errors }}
{{ editForms.0.account_name.errors }}
{{ addAccountForm.account_name.errors.0 }}

<h1 style="color: white">{{ user.username }}</h1>
<button id="editUsername" onclick="unHideUsernameForm()">Edit</button>
<div id="usernameForm" style="display: none">
<form id="editUsernameForm" method="POST" class="form-group">
	{% csrf_token %}
    <div class="form-group spacer">
      <label for="username">New Username</label>
      {{ usernameForm.username }}
    </div>
    <button class="btn btn-primary spacer" name="submitUsername" type="submit">Save</button>
</form>

</div>

<button id="editEmail" onclick="unHidePasswordForm()">Change Password</button>
<div id="passwordForm" style="display: none">
<form id="editPasswordForm" method="POST" class="form-group">
	{% csrf_token %}
    <div class="form-group spacer">
      <label for="password">New Password</label>
      {{ passwordForm.password1 }}
    </div>
    <div class="form-group spacer">
      <label for="password2">Confirm Password</label>
      {{ passwordForm.password2 }}
    </div>

    <button class="btn btn-primary spacer" name="submitPassword" type="submit">Save</button>
</form>
</div>

<h1 style="color: white">{{ user.email }}</h1>
<button id="editEmail" onclick="unHideEmailForm()">Edit</button>
<div id="emailForm" style="display: none">
<form id="editEmailForm" method="POST" class="form-group">
	{% csrf_token %}
    <div class="form-group spacer">
      <label for="email">New Email</label>
      {{ emailForm.email }}
    </div>
    <button class="btn btn-primary spacer" name="submitEmail" type="submit">Save</button>
</form>
</div>

{% for account, removeForm, editForm, setMainForm in accountForms %}
<h1 style="color: white">{{ account.name }}{% if account.isMain %} (Main) {% endif %}</h1>
<button id="editButton{{ account.id }}" onclick="unHideAccountForm{{ account.id }}()">Edit</button>
{% if not account.isMain %}
<form id="removeAccountForm" method="POST" class="form-group">
	{% csrf_token %}
    <div style="display: none">
	    {{ removeForm.account_id }}
    </div>
    <button class="btn btn-primary spacer" name="submitRemove{{ account.id }}" type="submit">Remove</button>
</form>
<form id="setMainForm" method="POST" class="form-group">
	{% csrf_token %}
    <div style="display: none">
	    {{ setMainForm.account_id }}
    </div>
    <button class="btn btn-primary spacer" name="submitSetMain{{ account.id }}" type="submit">Set Main</button>
</form>
{% endif %}

<div id="accountForm{{ account.id }}" style="display: none">
<form id="editAccountForm" method="POST" class="form-group">
	{% csrf_token %}
    <div class="form-group spacer">
      <label for="account_name">Account Name</label>
      {{ editForm.account_name }}
    </div>
    <div style="display: none">
	    {{ editForm.account_id }}
    </div>
    <button class="btn btn-primary spacer" name="submitEdit{{ account.id }}" type="submit">Save</button>
</form>

</div>
{% endfor %}

<div id="unhideAddAccountButton">
<img src="/media/stats/buttons/add-button.png" onclick="unHideAddAccount()">
</div>

<form id="addAccountForm" method="POST" class="form-group" style="display: none">
	{% csrf_token %}
    <div class="form-group spacer">
	    <label for="account_name">Account Name</label>
      {{ addAccountForm.account_name }}
    </div>
    <button class="btn btn-primary spacer" name="submitAdd" type="submit">Add Account</button>
</form>
<div style="color: white">
{% for invite in invites %}
<p>You are invited to join <a href="/stats/season/{{ invite.team.season.id }}/team/{{ invite.team.id }}/">SEASON {{ invite.team.season.id }} {{ invite.team.media.name }}</a> ({{ invite.role.name }}) <a href="/join-team/{{ invite.team.id }}/">Accept</a></p>
{% endfor %}

{% for team in teams %}
{% if team.season.isActive %}
<p>You are a member of <a href="/stats/season/{{ team.season.id }}/team/{{ team.id }}/">{{ team.media.name }} - {{ team.season }}</a> <a href="/leave-team/{{ team.id }}/">Leave Team</a></p>
{% endif %}
{% endfor %}
</div>

{% if seasonPlayer %}
<h2 style="color: white">You are currently signed up for Season {{ seasonPlayer.season.id }} as</h2>
{% if seasonPlayer.main_roster %}
<h4 style="color: white">MAIN ROLE</h4>
{% endif %}
{% if seasonPlayer.substitute %}
<h4 style="color: white">SUBSTITUTE</h4>
{% endif %}
{% for seasonPlayerRole in seasonPlayerRoles %} 
<h3 style="color: white">{{ seasonPlayerRole.role.name }}{% if seasonPlayerRole.isMain %} (Main Role){% endif %}</h3>
{% endfor %}
<h2 style="color: white"><a href="/season/{{ season.id }}/sign-up">SIGN UP AGAIN</a></h2>
<h2 style="color: white"><a href="/season/{{ season.id }}/remove-sign-up">DELETE SIGNUP</a></h2>
{% else %}
<h2 style="color: white">You are not signed up for Season {{ season.id }}! <a href="/season/{{ season.id }}/sign-up">SIGN UP</a></h2>
{% endif %}

{% else %}

You don't have a profile when you aren't logged in, silly!

{% endif %}

{% endblock %}
