{% extends "stats/base.html" %}
{% load staticfiles %}

{% block title %} Rekt League | Season {{ season.id }} | Players {% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'stats/css/player-stats.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <h1>SEASON <span class="rekt-red">5</span></h1>
  <!-- CHAMPS PLAYED TABLE -->
<input type="text" id="search" placeholder="Type to search">
  <table id="dataTable">
    <thead>
      <tr id="tableHeader">
        <th onclick="sortTable(0)">PLAYER</th>
        <th onclick="sortTable(1)">TEAM</th> 
        <th onclick="sortTable(2)">POSITION</th>
        <th onclick="sortTable(3)">GAMES PLAYED</th>
        <th onclick="sortTable(4)">AVG KILLS</th>
        <th onclick="sortTable(5)">AVG DEATHS</th>
        <th onclick="sortTable(6)">AVG ASSISTS</th>
        <th onclick="sortTable(7)">KDA</th>
        <th onclick="sortTable(8)">KILL PARTICIPATION</th>
        <th onclick="sortTable(9)">CS DIFF @ 15</th>
	{% if season.id > 2 %}
        <th onclick="sortTable(10)">CS/MIN</th>
	{% else %}
        <th onclick="sortTable(10)">CS/MIN</th>
	{% endif %}
        <th onclick="sortTable(11)">TEAM DAMAGE %</th>
        <th onclick="sortTable(12)">VISION SCORE</th>
      </tr>
    </thead>
    <tbody id="table">
	    {% for team_player in team_players %}
	    {% if team_player.get_player_matches.count > 0 %}
	    {% if forloop.counter|divisibleby:2 %}
      <tr class="whiteRow">
	    {% else %}
      <tr>
	    {% endif %}
        <td><a href="/season/{{ season.id }}/team/{{ team_player.team.id }}/player/{{ team_player.player.id }}/role/{{ team_player.role.id }}/">{{ team_player.player.name }}</a></td>
	<td><img src="{{ team_player.team.media.icon.url }}" /><span>{{ team_player.team.name }}</span></td>
	<td><img src="{{ team_player.role.icon.url }}" /><span>{{ team_player.role.name }}</span></td>
	<td>{{ team_player.get_num_matches }}</td>
	<td>{{ team_player.get_avg_kills|floatformat:"1" }}</td>
	<td>{{ team_player.get_avg_deaths|floatformat:"1" }}</td>
	<td>{{ team_player.get_avg_assists|floatformat:"1" }}</td>
	{% if team_player.get_kda == 1000000 %}
        <td>Perfect</td>
	{% else %}
	<td>{{ team_player.get_kda|floatformat:"2" }}</td>
	{% endif %}
	<td>{{ team_player.get_kill_participation|floatformat:"1" }}%</td>
	<td>{% if team_player.get_cs_diff_at_15 > 0 %}+{% endif %}{{ team_player.get_cs_diff_at_15|floatformat:"1" }}</td>
	{% if season.id > 2 %}
	<td>{{ team_player.get_cs_per_min|floatformat:"2" }}</td>
	{% else %}
	<td>{{ team_player.get_cs_per_game|floatformat:"1" }}</td>
	{% endif %}
	<td>{{ team_player.get_percent_team_damage|floatformat:"1" }}%</td>
	<td>{{ team_player.get_avg_vision|floatformat:"1" }}</td>
      </tr>
      {% endif %}
      {% endfor %}
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    </div>
</body>
{% endblock %}
