{% extends "stats/base.html" %}

{% block content %}
<p> {{ season }} </p>
{% if teams %}
    <ul>
    {% for team in teams %} 
        <li><a href="/stats/season/{{ season.id }}/team/{{ team.id }}">{{ team.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Teams.</p>
{% endif %}

<p>Top Bans</p>
<table>
	<tr>
	{% for champion in season.get_top_banned %}
	<th><img src="{{ MEDIA_URL }}{{ champion.icon }}" height="50" width="50" title="{{ champion.name }}"></th>
	{% endfor %}
	</tr>
	<tr>
	{% for champion in season.get_top_banned %}
		<th><b>{{ champion.ban_rate }}%</b></th>
	{% endfor %}
	</tr>
</table>

<p>Top Picks</p>
<table>
	<tr>
	{% for champion in season.get_top_picked %}
	<th><img src="{{ MEDIA_URL }}{{ champion.icon }}" height="50" width="50" title="{{ champion.name }}"></th>
	{% endfor %}
	</tr>
	<tr>
	{% for champion in season.get_top_picked %}
		<th><b>{{ champion.pick_rate }}%</b></th>
	{% endfor %}
	</tr>
</table>

{% endblock %}
