{% extends "stats/base.html" %}

{% block content %}
<p></p>
<h1>{{ season }}</h1>
{% if sorted_teams %}
<table>
	<tr>
	<th>Rank</th>
	<th> </th>
	<th>Team</th>
	<th>Record</th>
	</tr>
	{% for team in sorted_teams %}
	<tr>
		<td><b>{{ forloop.counter }}</b></td>
		<td><img src="{{ MEDIA_URL }}{{ team.icon }}" height="50" width="50"></td>
		<td><a href="/stats/season/{{ season.id }}/team/{{ team.id }}">{{ team.name }}</a></td>
		<td><b>{{ team.get_record }}</b></td>
	</tr>
	{% endfor %}
</table>

{% else %}
{% endif %}

<p>Top Bans</p>
<table>
	<tr>
	{% for champion in season.get_top_banned %}
	<th><img src="{{ MEDIA_URL }}{{ champion.icon }}" height="50" width="50" title="{{ champion.name }}"></th>
	{% endfor %}
	</tr>
	<tr>
	{% for champion in season.get_top_banned %}
		<th><b>{{ champion.ban_rate }}%</b></th>
	{% endfor %}
	</tr>
</table>

<p>Top Picks</p>
<table>
	<tr>
	{% for champion in season.get_top_picked %}
	<th><img src="{{ MEDIA_URL }}{{ champion.icon }}" height="50" width="50" title="{{ champion.name }}"></th>
	{% endfor %}
	</tr>
	<tr>
	{% for champion in season.get_top_picked %}
		<th><b>{{ champion.pick_rate }}%</b></th>
	{% endfor %}
	</tr>
</table>

{% endblock %}
