{% extends "stats/base.html" %}

{% block title %}Rekt League | {{ series }}{% endblock %}

{% block content %}

<script type="text/javascript"><!--
function ReplaceMatchContent(id, content) {
	var container = document.getElementById(id);
	var contentMap = new Map();
	{% for match in matches %}
	contentMap.set("{{ match.game_num }}",
                '<table width="100%">' +
		 '<tr class="centercontent">' +
		{% if match.playermatch_set.all %}
		  {% for teammatch in match.teammatch_set.all %}
		  '<td width="50%">' +
		   '<table class="centercontent" width="100%">' +
		    '<tr>' +
		     {% if forloop.counter == 1 %}
		{% if teammatch.win %}
		'<th class="centertableheader" style="border-bottom: 1px solid #4a56b2"><a class="centertableheader" style="margin-bottom: 20px; padding-right: 20px; padding-left: 20px; padding-bottom: 5px; border-bottom: 1px solid #6d6d6d;" href="/stats/season/{{ season.id }}/team/{{ teammatch.team.id }}/">{{ teammatch.team.name }}</a></th>' +
		{% else %}
		'<th class="centertableheader" style="border-bottom: 1px solid #4a56b2"><a class="centertableheader" href="/stats/season/{{ season.id }}/team/{{ teammatch.team.id }}/">{{ teammatch.team.name }}</a></th>' +
		{% endif %}
		     {% else %}
		{% if teammatch.win %}
		'<th class="centertableheader" style="border-bottom: 1px solid #b24a58"><a class="centertableheader" style="margin-bottom: 20px; padding-right: 20px; padding-left: 20px; padding-bottom: 5px; border-bottom: 1px solid #6d6d6d;" href="/stats/season/{{ season.id }}/team/{{ teammatch.team.id }}/">{{ teammatch.team.name }}</a></th>' +
		{% else %}
		'<th class="centertableheader" style="border-bottom: 1px solid #b24a58"><a class="centertableheader" href="/stats/season/{{ season.id }}/team/{{ teammatch.team.id }}/">{{ teammatch.team.name }}</a></th>' +
		{% endif %}

		     {% endif %}
		    '</tr>' +
		    '<tr>' +
		     {% if forloop.counter == 1 %}
		     '<td style="border-bottom: 1px solid #4a56b2">' +
		     {% else %}
		     '<td style="border-bottom: 1px solid #b24a58">' +
		     {% endif %}
		      '<table class="centercontent" width="100%">' +
		     {% if forloop.counter == 1 %}
		       '<tr class="alternating-back"></tr>' +
		        '<th>' +
		        '</th>' +
		        '<th>' +
		         '<img src="/static/stats/scoreboardicon_champion.png" title="Champion" height="25px" width="25px">' +
		        '</th>' +
		        '<th>' +
		        '</th>' +
		        '<th>' +
		         '<img src="/static/stats/scoreboardicon_score.png" title="Score" height="25px" width="25px">' +
		        '</th>' +
		        '<th>' +
		         '<img src="/static/stats/scoreboardicon_minion.png" title="Minions Killed" height="25px" width="25px">' +
		        '</th>' +
		        '<th>' +
		         '<img src="/static/stats/scoreboardicon_gold.png" title="Total Gold" height="25px" width="25px">' +
		        '</th>' +
		       '</tr>' +
		     {% else %}
	               '<tr class="alternating-back"></tr>' +
		        '<th>' +
		        '</th>' +
		        '<th>' +
		         '<img src="/static/stats/scoreboardicon_gold.png" title="Total Gold" height="25px" width="25px">' +
		        '</th>' +
		        '<th>' +
		         '<img src="/static/stats/scoreboardicon_minion.png" title="Minions Killed" height="25px" width="25px">' +
		        '</th>' +
		        '<th>' +
		         '<img src="/static/stats/scoreboardicon_score.png" title="Score" height="25px" width="25px">' +
		        '</th>' +
		        '<th>' +
		        '</th>' +
		        '<th>' +
		         '<img src="/static/stats/scoreboardicon_champion.png" title="Champion" height="25px" width="25px">' +
		        '</th>' +
		        '<th>' +
		        '</th>' +
		       '</tr>' +

		     {% endif %}
		       '<tr class="alternating-back"></tr>' +
		    {% for playermatch in teammatch.get_player_matches %}
		       '<tr class="alternating-back">' +
		      {% if forloop.parentloop.counter == 1 %}
		        '<td width="10%"></td>' +
		        '<td><img src="{{ playermatch.champion.icon.url }}" height="50" width="50" title="{{ playermatch.champion.name }}"></td>' +
		        '<td>{{ playermatch.player.name }}</td>' +
		        '<td>{{ playermatch.kills }}/{{ playermatch.deaths }}/{{ playermatch.assists }}</td>' +
		        '<td>{{ playermatch.get_cs }}</td>' +
		        '<td>{{ playermatch.gold_earned }}</td>' +
		        '<td width="10%"></td>' +
		      {% else %}
		        '<td width="10%"></td>' +
		        '<td>{{ playermatch.gold_earned }}</td>' +
		        '<td>{{ playermatch.get_cs }}</td>' +
		        '<td>{{ playermatch.kills }}/{{ playermatch.deaths }}/{{ playermatch.assists }}</td>' +
		        '<td>{{ playermatch.player.name }}</td>' +
		        '<td><img src="{{ playermatch.champion.icon.url }}" height="50" width="50" title="{{ playermatch.champion.name }}"></td>' +
		        '<td width="10%"></td>' +
		      {% endif %}
		       '</tr>' +
		    {% endfor %}
		      '</table>' +
		     '</td>' +
		    '</tr>' +
		    '<tr>' +
		     '<td>' +
		      '<table class="centercontent" width="40%">' +
		       '<tr>' +
		        '<th class="centertableheader">Bans</th>' +
		     {% for ban in teammatch.get_team_bans %}
		        '<td>' +
		         '<img src="{{ ban.champion.icon.url }}" height="40" width="40" style="padding:5px" title="{{ ban.champion.name }}">' +
		        '</td>' +
		     {% endfor %}
		       '</tr>' +
		      '</table>' +
		     '</td>' +
		    '</tr>' +
		   '</table>' +
		  '</td>' +
		 {% endfor %}
		 '</tr>' +
		'</table>' +
		'<table class="centercontent" width="100%">' +
		 '<tr>' +
		  '<th class="centertableheader">Full Statistics</th>' +
		 '</tr>' +
		'</table>' +
		// Full stats table
		'<table class="centercontent" width="90%">' +
		'<tr class="alternating-back">' +
		'<tr class="alternating-back"><td width="30%"> </td>' +
		{% for playermatch in match.playermatch_set.all %}
		'<td width="7%"><img src="{{ playermatch.champion.icon.url }}" height="30" width="30" title="{{ playermatch.champion.name }}"></td>' +
		{% endfor %}
		'</tr><tr class="alternating-back"><th><i>Combat</i></th>' +
		'</tr><tr class="alternating-back"><td style="text-align: left;">KDA</td>' +
		{% for playermatch in match.playermatch_set.all %}
		'<td>{{ playermatch.kills }}/{{ playermatch.deaths }}/{{ playermatch.assists }}</td>' +
		{% endfor %}
		'</tr><tr class="alternating-back"><td style="text-align: left;">Largest Killing Spree</td>' +
		{% for playermatch in match.playermatch_set.all %}
		'<td>{{ playermatch.largest_killing_spree }}</td>' +
		{% endfor %}
		'</tr><tr class="alternating-back"><td style="text-align: left;">First Blood</td>' +
		{% for playermatch in match.playermatch_set.all %}
		{% if playermatch.first_blood_kill %}
		'<td>Yes</td>' +
		{% else %}
		'<td>No</td>' +
		{% endif %}
		{% endfor %}
		'</tr><tr class="alternating-back"><th><i>Damage Dealt</i></th>' +
		'</tr><tr class="alternating-back"><td style="text-align: left;">Total Damage Dealt to Champions</td>' +
		{% for playermatch in match.playermatch_set.all %}
		'<td>{{ playermatch.total_damage_dealt_to_champions }}</td>' +
		{% endfor %}
		'</tr><tr class="alternating-back"><td style="text-align: left;">Physical Damage Dealt to Champions</td>' +
		{% for playermatch in match.playermatch_set.all %}
		'<td>{{ playermatch.physical_damage_dealt_to_champions }}</td>' +
		{% endfor %}
		'</tr><tr class="alternating-back"><td style="text-align: left;">Magic Damage Dealt to Champions</td>' +
		{% for playermatch in match.playermatch_set.all %}
		'<td>{{ playermatch.magic_damage_dealt_to_champions }}</td>' +
		{% endfor %}
		'</tr><tr class="alternating-back"><td style="text-align: left;">True Damage Dealt to Champions</td>' +
		{% for playermatch in match.playermatch_set.all %}
		'<td>{{ playermatch.true_damage_dealt_to_champions }}</td>' +
		{% endfor %}
		'</tr><tr class="alternating-back"><td style="text-align: left;">Total Damage Dealt</td>' +
		{% for playermatch in match.playermatch_set.all %}
		'<td>{{ playermatch.total_damage_dealt }}</td>' +
		{% endfor %}
		'</tr><tr class="alternating-back"><td style="text-align: left;">Physical Damage Dealt</td>' +
		{% for playermatch in match.playermatch_set.all %}
		'<td>{{ playermatch.physical_damage_dealt }}</td>' +
		{% endfor %}
		'</tr><tr class="alternating-back"><td style="text-align: left;">Magic Damage Dealt</td>' +
		{% for playermatch in match.playermatch_set.all %}
		'<td>{{ playermatch.magic_damage_dealt }}</td>' +
		{% endfor %}
		'</tr><tr><td style="text-align: left;">True Damage Dealt</td>' +
		{% for playermatch in match.playermatch_set.all %}
		'<td>{{ playermatch.true_damage_dealt }}</td>' +
		{% endfor %}
		'</tr><tr class="alternating-back"><td style="text-align: left;">Largest Critical Strike</td>' +
		{% for playermatch in match.playermatch_set.all %}
		'<td>{{ playermatch.largest_critical_strike }}</td>' +
		{% endfor %}
		'</tr><tr class="alternating-back"><td style="text-align: left;">Total Damage to Objectives</td>' +
		{% for playermatch in match.playermatch_set.all %}
		'<td>{{ playermatch.damage_dealt_to_objectives }}</td>' +
		{% endfor %}
		'</tr><tr class="alternating-back"><td style="text-align: left;">Total Damage to Turrets</td>' +
		{% for playermatch in match.playermatch_set.all %}
		'<td>{{ playermatch.damage_dealt_to_turrets }}</td>' +
		{% endfor %}
		'</tr><tr class="alternating-back"><th><i>Damage Taken & Healed</i></th>' +
		'</tr><tr class="alternating-back"><td style="text-align: left;">Damage Healed</td>' +
		{% for playermatch in match.playermatch_set.all %}
		'<td>{{ playermatch.total_heal }}</td>' +
		{% endfor %}
		'</tr><tr class="alternating-back"><td style="text-align: left;">Damage Taken</td>' +
		{% for playermatch in match.playermatch_set.all %}
		'<td>{{ playermatch.total_damage_taken }}</td>' +
		{% endfor %}
		'</tr><tr class="alternating-back"><td style="text-align: left;">Physical Damage Taken</td>' +
		{% for playermatch in match.playermatch_set.all %}
		'<td>{{ playermatch.physical_damage_taken }}</td>' +
		{% endfor %}
		'</tr><tr class="alternating-back"><td style="text-align: left;">Magic Damage Taken</td>' +
		{% for playermatch in match.playermatch_set.all %}
		'<td>{{ playermatch.magical_damage_taken }}</td>' +
		{% endfor %}
		'</tr><tr class="alternating-back"><td style="text-align: left;">True Damage Taken</td>' +
		{% for playermatch in match.playermatch_set.all %}
		'<td>{{ playermatch.true_damage_taken }}</td>' +
		{% endfor %}
		'</tr><tr class="alternating-back"><th><i>Vision</i></th>' +
		'</tr><tr class="alternating-back"><td style="text-align: left;">Wards Placed</td>' +
		{% for playermatch in match.playermatch_set.all %}
		'<td>{{ playermatch.wards_placed }}</td>' +
		{% endfor %}
		'</tr><tr class="alternating-back"><td style="text-align: left;">Wards Destroyed</td>' +
		{% for playermatch in match.playermatch_set.all %}
		'<td>{{ playermatch.wards_killed }}</td>' +
		{% endfor %}
		'</tr><tr class="alternating-back"><td style="text-align: left;">Control Wards Purchased</td>' +
		{% for playermatch in match.playermatch_set.all %}
		'<td>{{ playermatch.vision_wards_bought_in_game }}</td>' +
		{% endfor %}
		'</tr><tr class="alternating-back"><th><i>Income</i></th>' +
		'</tr><tr class="alternating-back"><td style="text-align: left;">Gold Earned</td>' +
		{% for playermatch in match.playermatch_set.all %}
		'<td>{{ playermatch.gold_earned }}</td>' +
		{% endfor %}
		'</tr><tr class="alternating-back"><td style="text-align: left;">Gold Spent</td>' +
		{% for playermatch in match.playermatch_set.all %}
		'<td>{{ playermatch.gold_spent }}</td>' +
		{% endfor %}
		'</tr><tr class="alternating-back"><td style="text-align: left;">Minions Killed</td>' +
		{% for playermatch in match.playermatch_set.all %}
		'<td>{{ playermatch.total_minions_killed }}</td>' +
		{% endfor %}
		'</tr><tr class="alternating-back"><td style="text-align: left;">Neutral Minions Killed</td>' +
		{% for playermatch in match.playermatch_set.all %}
		'<td>{{ playermatch.neutral_minions_killed }}</td>' +
		{% endfor %}
		'</tr><tr class="alternating-back"><td style="text-align: left;">Neutral Minions Killed in Team\'s Jungle</td>' +
		{% for playermatch in match.playermatch_set.all %}
		'<td>{{ playermatch.neutral_minions_killed_team_jungle }}</td>' +
		{% endfor %}
		'</tr><tr class="alternating-back"><td style="text-align: left;">Neutral Minions Killed in Enemy Jungle</td>' +
		{% for playermatch in match.playermatch_set.all %}
		'<td>{{ playermatch.neutral_minions_killed_enemy_jungle }}</td>' +
		{% endfor %}
		{% else %}
		 {% if match.tournament_code %}
		'<table class="centercontent" width="80%">' +
		 '<tr>' +
		  '<td>' +
		   '<table class="centercontent" width="100%">' +
		    '<tr>' +
		{% for teammatch in match.teammatch_set.all %}
		     '<td width="50%">' +
		      '<table class="centercontent" width="100%">' +
		       '<tr>' +
		     {% if forloop.counter == 1 %}
		        '<th class="centertableheader" style="border-bottom: 1px solid #4a56b2">{{ teammatch.team.name }}</th>' +
		     {% else %}
		        '<th class="centertableheader" style="border-bottom: 1px solid #b24a58">{{ teammatch.team.name }}</th>' +
		     {% endif %}
		       '</tr>' +
		       '<tr>' +
		     {% if forloop.counter == 1 %}
		        '<td style="border-bottom: 1px solid #4a56b2">' +
		     {% else %}
		        '<td style="border-bottom: 1px solid #b24a58">' +
		     {% endif %}
		         '<table class="centercontent" width="100%">' +
		          '<tr class="alternating-back"></tr>' +
		    {% for teamplayer in teammatch.team.teamplayer_set.all %}
		          '<tr class="alternating-back">' +
		      {% if forloop.parentloop.counter == 1 %}
		           '<td width="40%"><img src="{{ teamplayer.role.icon.url }}" height="30" width="30" title="{{ teamplayer.role.name }}"></td>' +
		           '<td style="font-size:20; text-align:left">{{ teamplayer.player.name }}</td>' +
		      {% else %}
		           '<td style="font-size:20; text-align:right">{{ teamplayer.player.name }}</td>' +
		           '<td width="40%"><img src="{{ teamplayer.role.icon.url }}" height="30" width="30" title="{{ teamplayer.role.name }}"></td>' +
		      {% endif %}
		          '</tr>' +
		    {% endfor %}
		         '</table>' +
		        '</td>' +
		       '</tr>' +	
		      '</table>' +
		     '</td>' +
		 {% endfor %}
		    '</tr>' +
		   '</table>' +
		  '</td>' +
		 '</tr>' +
		 '<tr class="centercontent">' +
		  '<td>' +
		  '</td>' +
		 '</tr>' +
                   {% if match.tournament_code != 'none' %}
		 '<tr class="centercontent">' +
		  '<td>' +
		   '<table class="centercontent">' +
		    '<tr>' +
		     '<th class="centertableheader">Tournament Code</th>' +
		    '</tr>' +
		    '<tr>' +
		     '<td>' +
		      '{{ match.tournament_code }}' +
		     '</td>' +
		    '</tr>' +
		    '<tr>' +
		     '<td>' +
        		'<a href="/stats/season/{{ season.id }}/match/{{ match.id }}/load_match/">Match Complete</a>' +
		     '</td>' +
		    '</tr>' +
		   '</table>' +
		  '</td>' +
		 '</tr>' +
                   {% endif %}
		'</table>' +
		 {% else %}
		  '<table width="100%">' +
		  '<tr>' +
		  '<td>No Tournament Code Configured.</td>' +
		 '</tr>' +
		 '<tr>' +
		'<td><a href="/stats/create_code/{{ match.id }}">Create Tournament Code</a></td>' +
		 '</tr>' +
		 '</table>' +
		 {% endif %}
		{% endif %}
		'</tr></table>' +
			"");
	{% endfor %}
	contentMap.set("Overview",
		'<table width="100%">' +
		 '<tr>' +
		  '<td width="50%">' +
		  '</td>' +
		  '<td width="50%">' +
		  '</td>' +
		 '</tr>' +
		'</table>' +
		        "");
	contentMap.set("Load Match",
                "<a href=\"/stats/season/{{ season.id }}/series/{{ series.id }}/load_match/\">Load Match</a>");

	container.innerHTML = contentMap.get(content);
}
window.onload = function() {
	ReplaceMatchContent('pagecontent','Overview');
}
//--></script>

<a class="imglink" href="/stats/season/{{ season.id }}/"><img style="width: 100%; margin-top:190px; margin-bottom: 100px;" src="/static/stats/season2.png"></a>

<div style="width: 75%; text-align: center; background-color: #303030; padding: 20px; margin: 0 auto;">
	<h1 style="font-size: 48">Week {{ series.week.number }}</h1>
	<h1 style="font-size: 48">{% for seriesteam in series.seriesteam_set.all %}<a href="/stats/season/{{ season.id }}/team/{{ seriesteam.team.id }}/">{{ seriesteam.team.name }}</a>{% if forloop.counter == 1 %} vs {% endif %}{% endfor %}</h1>

	<div style="padding: 20px;">
		{% if series.youtube_link != '' and series.youtube_link != ' ' %}
        	<iframe class="videoplayer" src="{{ series.youtube_link }}" frameborder="0" allowfullscreen="true" scrolling="no" height="441" width="784"></iframe>
		{% else %}
		<img style="margin-left: auto; margin-right: auto; display: block; width: 85%; box-shadow: 6px 6px 6px #212121;" src="{{ series.splash.url }}">
		   {% endif %}
	</div>
</div>
<p></p>

<table class="centercontent" width="70%">
	<tr class="centercontent">
		<td>
		<table class="centercontent" width="100%">
			<tr>
			{% for match in matches %}
				<td class="pagebutton" width= "{% widthratio 1 num_match_links 100 %}%">
					<div style="font-size:20;">
						<a style="font-size: 28" href="javascript:ReplaceMatchContent('pagecontent','{{ match.game_num }}')"><b>Game {{ match.game_num }}</b></a>
					</div>
				</td>
			{% endfor %}
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td>
			<div id="pagecontent" onload="ReplaceMatchContent('pagecontent'),'Overview')">
			</div>
		</td>
	</tr>

</table>
{% endblock %}

