{% extends "stats/base.html" %}

{% block title %}Rekt League | Team {{ team.name }}{% endblock %}

{% block content %}


<a href="/season/{{ team.season.id }}/team/{{ team.id }}/">
	<img style="width: 100%;" src="{{ team.splash.url }}">
</a>
<p> </p>

<table class="centercontent" width="70%">
	<tr class="centercontent">
		<td>
		</td>
	</tr>
	<tr class="centercontent">
		<td>
		<table class="centercontent" width="100%">
			<tr>
			{% for player in players %}
			<td class="pagebutton" width="{% widthratio 1 players.count 100 %}%">
					<div style="font-size:20">
						<a href="player/{{ player.id }}/"><b>{{ player.name }}</b></a>
					</div>
				</th>
			{% endfor %}

			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td>
			<table width="100%">
				<tr>
					<td width="50%" height="100%" style="vertical-align:top">
						<table width="100%">
							<tr>
								<th class="centertableheader">
									Record
								</th>
							</tr>
							<tr class="centercontent">
								<th style="padding-bottom:20px; font-size:24;">
									{{ team.get_record }}
								</th>
							</tr>
							<tr class="centercontent">
								<td class="centercontent">
									<table width="100%">
										<tr>
											<td>
												<table width="100%">
													<tr>
														<th class="centertableheader">
															Popular Bans
														</th>
													<tr>
														<table width="100%">
															<tr>
									{% for champion in team.get_top_banned %}
											<td width="60"><img src="{{ MEDIA_URL }}{{ champion.champion__icon }}" height="50" width="50" title="{{ champion.champion__name }}"></td>
									{% endfor %}
															</tr><tr>
									{% for champion in team.get_top_banned %}
													<td width="60"><b>{{ champion.ban_rate }}%</b></td>
									{% endfor %}
															</tr>
														</table>
													</td>
												</tr>
											</table>
								</td>
							</tr>
							<tr>
								<td>
									<table width="100%">
										<tr>
												<th class="centertableheader">
													First Blood %
												</th>
										</tr>
										<tr>
											<th style="padding-bottom:20px; font-size:25;">
												{{ team.get_first_blood_percent|floatformat:"1" }}%
											</th>
										</tr>
									</table>
								</td>
							</tr>
			                                <tr class="centercontent"><td width="100%"></td></tr><tr>
								<td>
									<table width="100%">
										<tr>
												<th class="centertableheader">
													First Tower %
												</th>
										</tr>
										<tr>
											<th style="padding-bottom:20px; font-size:25;">
												{{ team.get_first_tower_percent|floatformat:"1" }}%
											</th>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
					<td width="50%" height="100%" style="vertical-align:top">
						<table width="100%" class="centercontent">
							<tr>
								<th class="centertableheader">
									<p><b>Schedule</b></p>
								</th>
							{% for series in series_list %}
							<tr class="alternating-back">
								<td>
									<div class="linktable">
										<a style="display: table-row;" href="/stats/season/{{ series.week.season.id }}/series/{{ series.id }}/">
											<div class="linktablecell" style="width: 10%"></div>
											<div class="linktablecell" style="width: 10%">
												<i>Week {{ series.week.number }}</i>
											</div>
											{% if series.get_team_1 == team %}
											<div class="linktablecell" style="width: 10%">
												{{ series.get_team_1_wins }}-{{ series.get_team_2_wins }}
											</div>
											<div class="linktablecell" style="width: 20%">
												vs <b>{{ series.get_team_2.name }}</b>
											</div>
											<div class="linktablecell" style="width: 10%">
												<img src="{{ series.get_team_2.icon.url }}" height="40px" width="40px">
											</div>
											{% elif series.get_team_2 == team %}
											<div class="linktablecell" style="width: 10%">
												{{ series.get_team_2_wins }}-{{ series.get_team_1_wins }}
											</div>
											<div class="linktablecell" style="width: 20%">
												vs <b>{{ series.get_team_1.name }}</b>
											</div>
											<div class="linktablecell" style="width: 10%">
												<img src="{{ series.get_team_1.icon.url }}" height="40px" width="40px">
											</div>
											{% endif %}
											<div class="linktablecell" style="width: 10%"></div>
											</div>
										</a>
										{% endfor %}
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>

		</td>
	</tr>

</table>

{% endblock %}
