{% extends "stats/base.html" %}
{% load staticfiles %}

{% block title %}Rekt League | Team {{ team.media.name }} | {{ team_player_role.player.name }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'stats/css/player.css' %}">
<script type="text/javascript"><!--
	window.onload = function() {
		var section = document.getElementById("banner");
		section.style.backgroundImage = "url('{{ team.media.banner.url }}')";
	}
</script>
{% endblock %}

{% block content %}

            <!-- HERO IMAGE -->
          
            <section id="banner">
		    {% if player.photo %}
		    <img class="playerPhoto" src="{{ player.photo.url }}">
		    {% else %}
		    <img class="playerPhoto" src="/static/stats/player-photos/missing.png">
		    {% endif %}
		    <h1>{{ player.name }}</h1>
              <div class="laneIcons">
	      {% if team_player_role.role.isFill %}
	      {% for team_player in team_players %}
	      {% if team_player.get_num_matches > 0 and not team_player.role.isFill %}
	      <img src="{{ team_player.role.icon.url }}">
	      {% endif%}
	      {% endfor %}
	      {% else %}
	      <img src="{{ team_player_role.role.icon.url }}">
	      {% endif %}
              </div>
            </section>

            <!-- FILTERS -->
                  <!-- SEASONS FILTER -->
                  <div id="filter">    
                  <div class="grey-search-button-container">

                    <div class="drop-item drop-list">
              
                      <ul id="rome-menu">
                           <li class="tophelp"><a class="menu-trigger" href="#">SEASONS</a>
                            <ul id="subrome">
				    {% for team_player in team_set %}
				    <a href="/season/{{ team_player.team.season.id }}/team/{{ team_player.team.id }}/player/{{ player.id }}/"><li>{{ team_player.team }}</li></a>
				    {% endfor %}
                        </ul> 
                      </li>              
                      </ul>
                     </div>
                  
                   </div>
                  <!-- TEAMMATES FILTER -->
                  
                  <div class="grey-search-button-container">

                    <div class="drop-item drop-list">
              
                      <ul id="rome-menu">
                        <li class="tophelp"><a class="menu-trigger" id="team" href="#">TEAMMATES</a>
                            <ul id="subrome">
				    {% for teammate in teammates %}
				    <a href="/season/{{ season.id }}/team/{{ teammate.team.id }}/player/{{ teammate.player.id }}/"><li>{{ teammate.player.name }}</li></a>
				    {% endfor %}
                        </ul> 
                      </li>              
                      </ul>
                     </div>
                  
                   </div>
                  <!-- ROLES FILTER -->
                <div class="grey-search-button-container">

                  <div class="drop-item drop-list">
            
                    <ul id="rome-menu">
                         <li class="tophelp"><a class="menu-trigger" href="#">ROLES</a>
                          <ul id="subrome">
				{% for team_player in team_players %}
				{% if team_player.get_num_matches > 0 %}
				<a href="/season/{{ season.id }}/team/{{ team_player.team.id }}/player/{{ team_player.player.id }}/role/{{ team_player.role.id }}/"><li>{{ team_player.role }}</li></a>
				{% endif %}
				{% endfor %}
				<a href="/season/{{ season.id }}/team/{{ team.id }}/player/{{ player.id }}/"><li>TOTAL</li></a>
                      </ul> 
                    </li>              
                    </ul>
                   </div>
                
                 </div>
                 </div>
            <!-- SLIDER -->
              <!--<div class="slider">
                <div><iframe src="https://player.twitch.tv/?autoplay=false&video=v314288172" frameborder="0" allowfullscreen="true" scrolling="no"></iframe></div>

                <div><iframe src="https://player.twitch.tv/?autoplay=false&video=v314288169" frameborder="0" allowfullscreen="true" scrolling="no"></iframe></div>

                <div><iframe src="https://player.twitch.tv/?autoplay=false&video=v314288172" frameborder="0" allowfullscreen="true" scrolling="no"></iframe></div>
	      </div>-->
              
              <!--STATS-->

              <div class="stats">
                <div class="statSection">
                <div class="statTitle">ACCOUNTS</div>
		{% for summoner in player.summoner_set.all %}
                <p><a href="https://na.op.gg/summoner/userName={{ summoner.link }}">{{ summoner.name }}</a></p>
		{% endfor %}
                </div>

                <div class="statSection">
                    <div class="statTitle">TOTAL KDA</div>
		    <p>{{ team_player_role.get_kda|floatformat:"1" }}</p>
                </div>

                <div class="statSection">
                    <div class="statTitle">AVG. SCORE</div>
		    <p>{{ team_player_role.get_avg_kills|floatformat:"1" }}/{{ team_player_role.get_avg_deaths|floatformat:"1" }}/{{ team_player_role.get_avg_assists|floatformat:"1" }}</p>
                </div>

                <div class="statSection">
                    <div class="statTitle">KILL PARTICIPATION</div>
		    <p>{{ team_player_role.get_kill_participation|floatformat:"1" }}%</p>
                </div>

                <div class="statSection">
                    <div class="statTitle">% OF TEAM DAMAGE</div>
		    <p>{{ team_player_role.get_percent_team_damage|floatformat:"1" }}%</p>
                </div>
              </div>

              <!-- CHAMPS PLAYED TABLE -->

              <table>
                  <tr>
                    <th class="blankCell"></th>
                    <th>GAMES PLAYED</th>
                    <th>KDA</th> 
                    <th>WINRATE</th>
		    {% if season.id > 2 %}
                    <th>CS/MIN</th>
		    {% else %}
                    <th>CS/GAME</th>
		    {% endif %}
                  </tr>
		  {% for champion in team_player_role.get_played_champion_list %}
		  {% if forloop.counter|divisibleby:2 %}
                  <tr class="whiteRow">
		  {% else %}
		  <tr>
		  {% endif %}
			  <td><img src="{{ MEDIA_URL }}{{ champion.playermatch__champion__icon }}"/></td>
			  <td>{{ champion.champion_count }}</td>
			  <td>{{ champion.avg_kills|floatformat:"1" }}/{{ champion.avg_deaths|floatformat:"1" }}/{{ champion.avg_assists|floatformat:"1" }}</td>
			  <td>{{ champion.winrate|floatformat:"1" }}%</td>
			  {% if season.id > 2 %}
			  <td>{{ champion.cs_per_min|floatformat:"2" }}</td>
			  {% else %}
			  <td>{{ champion.average_cs|floatformat:"2" }}</td>
			  {% endif %}
                    <td></td>
                  </tr>
		  {% endfor %}
                </table>
            </body>
            <div class="clearfix"></div>
{% endblock %}
