{% extends "stats/base.html" %}
{% load staticfiles %}

{% block title %}Rekt League | Valorant Signup{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'stats/css/valorant-thanks.css' %}">
{% endblock %}

{% block content %}

<h1>YOU'RE ALL SET!</h1>
<h2>Here's what's next</h2>
<p>Thanks for signing up for our Valorant tournament! We'll be sending out more information once we close sign ups to your email and posting in our Discord. If you're not already, join our <a href="https://discord.gg/vprCrG4">Discord</a> for updates, inhouse games, and some RektNuts!</p>

<p>If you want to sign up with another player, make sure to fill out the duo form here as well so we can make sure you are placed on a team together: </p><p><a href="https://docs.google.com/forms/d/e/1FAIpQLSe-_Lro_58_lUPoeWpk3j5dkm2wpFM5YOx_5LxSpPGARCv9iA/viewform">Duo Signup</a></p>

<a class="button" href="/">DONE</a>
{% endblock %}
