{% extends "stats/base.html" %}
{% load staticfiles %}

{% block title %}Rekt League | Valorant Signup{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'stats/css/valorant-thanks.css' %}">
{% endblock %}

{% block content %}

<h1>YOU'RE ALL SET!</h1>
<h2>Here's what's next</h2>
<p>Thanks for signing up for our Valorant tournament! We'll be sending out more information once we close sign ups to your email and posting in our Discord. If you're not already, join our <a href="">Discord</a> for updates, inhouse games, and some RektNuts!</p>

<p>Once we collect player feedback we'll be deciding on a format that makes sense, announcing how teams will be formed, and when the start date will be. Till then GET GUD OR GET REKT!</p>

<a class="button" href="https://rektleague.com">DONE</a>
{% endblock %}
